[2020-11-24 10:09] dbosk commented on #756
On ons 18 nov 2020 01:11:05, Simon Larsén wrote:

`--discover-repos` for now. I told the students to name their repos
`datintro20-username`. But would that work with the `--assignments`
option? I assumed not, since I interpreted the format must be
`datintro20-TheTask-user` for that to work.

OK, that's good.

No, not more than that repo where a student seemed to have done exactly
that. (I just wen

[2020-11-24 17:19] slarse commented on #759
I agree, you almost have to read between the lines right now.

[2020-11-24 17:29] slarse commented on #756
The default naming scheme for student repos is `<team_name>-<assignment_name>`. So, for example, a repo for `slarse` for task `datintro20` would be called `slarse-datintro20`. The organization name is not reflected in the repo name, the organization is just the "namespace", so to speak.

Note that I say "default" naming scheme, it can be overridden with plugins. As it happens,  the `ghclassroom` (

[2020-11-24 19:39] dbosk commented on #756
On tis 24 nov 2020 09:30:00, Simon Larsén wrote:

Cool! Good to know. Too bad I didn't ask about it earlier :-P

I can definitely ask! :-D

[2020-11-26 10:31] dbosk commented on #735
That should be useful. Sorry for the looooonnng turnaround time.

[2020-11-28 15:45] GlennOlsson opened #761 "Crashes at initial state after activating junit4 plugin"
Reinstalled the junit4 plugin to upgrade it and whenever I try to run repobee, with any command, I get this stack trace
[code]
This was running just `repobee`

I assume it has to do with a `reference_tests_dir` property in my config but now I cannot even localise the config file, and I don't remember where it is hehe...

[2020-11-28 16:12] slarse commented on #761
Right, that's a bit of a hassle, you'll need to remove the config entry manually.

Run the following:

[code]

That should show you were the config file is. I'll add this to the [FAQ](https://repobee.readthedocs.io/en/latest/faq.html).

[2020-11-29 11:20] Inomares commented on #728
This (I assume) has broken the "setting a few defaults" link in the [README](https://repobee.readthedocs.io/en/stable/configuration.html#configuration).

[2020-11-29 12:41] slarse commented on #728
@Inomares oops, it appears so.

[2020-11-29 12:42] slarse opened #762 "Broken link in README"
There's a broken link to configuration in the README: https://repobee.readthedocs.io/en/stable/configuration.html#configuration

As reported in #728

[2020-11-29 12:44] Inomares opened #763 "Config verify doesn't verify students file"
Despite being part of the config wizard (and as such IMO one of the "essential" properties), when running `repobee config verify`, no errors are reported even if the path to the students file is incorrect, or presumably also if the file has incorrect format.

[2020-11-29 12:47] slarse commented on #763
It absolutely should verify the config file. It'd be a pretty simple thing to add.

[2020-11-29 13:23] #761 closed

[2020-11-29 13:24] slarse commented on #761
@GlennOlsson thanks for reporting this, I've updated the [FAQ](https://repobee.readthedocs.io/en/latest/faq.html).

[2020-11-29 13:30] #759 closed

[2020-11-29 13:30] slarse commented on #759
@LinusOstlund thanks for reporting this!

[2020-11-29 13:31] #762 closed

[2020-11-29 14:59] #763 closed

[2020-11-29 15:01] slarse commented on #763
Thanks for reporting this. `config verify` now checks that the students file exists, and screams bloody murder if it doesn't.

As there isn't much structure to the file (you can put virtually anything on each line), there's not much to be done in terms of checking its "formatting". In RepoBee 4, the students file will probably be more structured (think yaml), and then it will be relevant to check

[2020-11-29 20:44] slarse opened #768 "Improve error message when installing plugin that requires different version of RepoBee"
When trying to install a plugin that requires a different version of RepoBee than the one installed, you get this error:

[code]

That doesn't really help end users too much.

[2020-12-02 19:30] #735 closed

[2020-12-04 15:16] htdebeer opened #769 "Repo object has empty list of members in post_setup"
I have written a `post_setup` hook. When it is run, the repo object is as follows:

[code]

The repository has been created correctly, so I would expect `someid` to show up as the sole element in `members`, but `members` is empty.

I call repobee as follows:

[code]

The file `single_student.lst` contains a single line with `someid` on it.

When I run the `repos clone` command, the `members` field

[2020-12-04 15:24] htdebeer opened #770 "Add a dry-run or mock command-line option for developing and testing plugins without doing anything on git"
Would it be possible to have some sort of "dry-run" or "mock" command-line option that would simulate running the command? This would be great for development of custom plugins. For example, while working on a post_setup hook I often make errors in my own code and each time I test my work, a new git repository is being created. However, to debug, fix, and test my hook, each time I first have to re

[2020-12-04 19:35] slarse commented on #769
Does the actual team (on GitLab) get the member? Most likely, the local student team isn't updated internally in RepoBee. Actually, I'm pretty sure it isn't. So there's probably nothing wrong in the setting up of the teams, just the local state. I'll have a look at this over the weekend.

[2020-12-04 19:55] slarse commented on #770
That would be possible, but what would probably be more helpful to you is a test environment. There are two pretty good options. First, there are built in pytest test fixtures in RepoBee that simulate a hosting platform, and you can use these to quite easily set up automated tests. Unfortunately, this is not yet very well documented in terms of usage, [this is all I've got so far](https://repobee.

[2020-12-04 20:48] htdebeer commented on #770
Your suggestions make sense. At least, they would if I would have approached the development of my Canvas plugin in a more professional way :-) Now I just hack on it whenever I have a spare moment, so setting up my development environment does not have the highest priority.

As a workaround, I have been using the `post_clone` hook to test the functionality of the `post_setup` hook for as so far I

[2020-12-04 20:48] #770 closed

[2020-12-04 20:53] htdebeer commented on #769
No! Actually, the only member assigned to the team is me. None of the students are getting assigned. So, that's something I can investigate on my end. It is possible these students do not have an activated account on the gitlab instance, although they are able to login to it with their school's account.

If that's the issue, this would mean we have to do some extra administration on our end before

[2020-12-05 08:59] slarse commented on #769
That would definitely cause this, as RepoBee cannot create accounts. It can just assign existing ones. There still might be a local update issue as well, though, so I'll look into it anyway. I haven't used the `post_setup` hook much so it may not be super well polished.

I'm not sure how your school handles account creation, but at KTH students get their accounts created the first time they log in

[2020-12-05 09:05] slarse commented on #770
I really recommend you try setting up a local GitLab instance. It's a bit fiddly the first time you do it, but once you know how to do it it is very easy. You have admin powers on it, and so can add however many students you'd like.

A _super_ neat feature of being an admin on GitLab is that you can "impersonate" a user to see what the platform looks like from their perspective. I used this a lot

[2020-12-05 09:48] htdebeer commented on #769
Yes, I believe our systems behave the same as yours.

However, whenever I try to `setup` the same repo twice, I get the error:

[code]

caused by:

[code]

[2020-12-06 09:41] slarse commented on #769
Hmm, that looks like a configuration thing on the actual GitLab platform. Possibly in the course group. What happens if you try to share a project with a group manually, through the web interface? Is that possible?

[2020-12-06 09:42] slarse commented on #769
Oh, and that article is related. RepoBee student groups access to their repos by sharing the project.

[2020-12-06 10:35] htdebeer commented on #769
Yes, apparently the whole sharing of groups was disabled, and as a result there was no sign of sharing groups in a project's interface.

I disabled the option

on the course's main group and then I deleted all already created groups and projects. Now I can rerun the `setup` command as often as I like!

However, the first time I run the command, the repositories are created and I get the error that

[2020-12-06 10:42] slarse commented on #769
Oh wow you responded seconds before I was done with my lengthy message :D. Shorter version: the empty student teams are caused by students not existing. The members list being empty is expected, the name of the team being the empty string I consider a bug to be fixed.

I also came to the same conclusion as you did with the "disable sharing", that's gonna have to go into the docs, or put a check in

[2020-12-06 10:43] slarse opened #771 "StudentTeam in post_setup hook has empty name if assigned students don't exist"
See discussion in #769

It's caused by the object automatically generating the name from the list of members. The name should be forcibly set to the actual name.

[2020-12-06 10:57] slarse commented on #769
Adding the `newly_created` parameter seems like the best option to me, even though it's breaking.

[2020-12-06 11:00] slarse opened #772 "Project sharing for groups must be enabled in the root group"
There's an option in groups in GitLab to prevent sharing of projects. That will cause a crash with RepoBee, so we should document that the option must not be enabled.

It's under `Settings -> General -> Permissions` for the group.

See #769 for details.

[2020-12-06 11:44] htdebeer commented on #769
Yes. To limit the breakage, you can move the new argument to the end. That way, existing hooks keep working as is. Your second solution only makes sense when you expect most of your users to want to do separate things in both cases, but I suspect either they do not care about the distinction or, like in my case, they want to try to do the same thing.

With this new argument I can make the integrat

[2020-12-06 11:55] slarse commented on #769
I could do that, but I personally prefer having parameters ordered by relevance. In the case of the extension hook functions, the `api` parameter is by far the least important in terms of information gain.

But I suppose that I could make an exception to that in order not to break the API.

[2020-12-06 12:03] htdebeer commented on #769
That's a choice you have to make. And whatever you decide, it does set a precedent. Cannot add you the parameter as a field to the StudentRepo field? For example, using an enum (does Python have those?) to differentiate between created and updated? Or make it a boolean `created` field, that is only true the first time round.

Alternatively, you can introduce a new hook method with the extra parame

[2020-12-06 12:09] slarse commented on #769
Not really, because `StudentRepo` is used where it does not make sense to say whether or not it was created. For example, in the `post_clone`, that attribute just doesn't make sense.

I think I'll go with the backwards-compatible way of appending arguments, as that's really how pluggy is meant to be used. It does have one design-related upside: all extension hooks that operate on repos have `repo`

[2020-12-06 14:48] htdebeer commented on #769
I agree with you. You can always do a major API clean-up release after a while or with another big API change anyway.

[2020-12-07 19:51] slarse commented on #769
I realized a slight inconvenience. Although passing both fresh and preexisting repos to the hook and adding a parameter to indicate which is which is not overtly breaking, it is instead silently breaking. Repositories that wouldn't be passed previously now are.

The only way to address this in a non-breaking fashion would be to add a new hook, e.g. `post_setup_preexisting` for preexisting reposito

[2020-12-07 20:00] slarse commented on #584
I think this is mostly addressed now. Any remaining stragglers can be cleaned up without this issue.

[2020-12-07 20:00] #584 closed

[2020-12-07 20:19] slarse commented on #769
I'm closing this now as the major points have been addressed, and new issues #771 and #772 document the two remaining issues.

[2020-12-07 20:19] #769 closed

[2020-12-11 13:07] htdebeer opened #774 "Gitlab access stopped working"
This is probably an issue at my end, but suddenly RepoBee started complaining about

[code]

while running the `setup` or `clone` commands. As I did not update my gitlab settings for the past couple of weeks, this is odd. I checked also with command `repobee -p gitlab config verify`, but it gives similar feedback:

[code]

I do not understand what is happening: clearly I can still log into gitlab

[2020-12-11 13:22] slarse commented on #774
The first thing that comes to mind is that `git-for-assignments-course2020` isn't actually the slug of the group (the slug is what you see in the url, it can be different from the name). The only other thing I can think of is that the token doesn't have access privileges to the group.

[2020-12-11 13:23] slarse commented on #774
Which version of GitLab are you running (i.e. the platform instance, not the plugin)? Might be a version incompatibility.

[2020-12-11 13:27] htdebeer commented on #774
To add some context. this afternoon I was testing the plugin I am developing, and access to this group was going fine. But suddenly, in between two repobee executions, the same `setup` and `clone` commands stopped working.

The version is "13.6.2", revision "f508fb8a043".

[2020-12-11 13:31] slarse commented on #774
Right, that's very odd. I'll get back to you after work (so in a couple of hours).

[2020-12-11 13:32] htdebeer commented on #774
Awesome!

By the way, if I use the API directly, like

[code]

I do get back information about this group:

[code]

But maybe some of these settings are incorrect.

[2020-12-11 15:19] slarse commented on #774
That looks correct to me. I'm currently running the system tests with the same version of GitLab that you're running to see if there's some form of version incompatibility. But I don't think there is, the version that _was_ running was older, but it was still GitLab 13.

[2020-12-11 16:01] htdebeer commented on #774
Yes.  I think something on my machine must have changed.

- I did try removing RepoBee and installing an older version because I did run the upgrade command. That did not have any effect.
- I also ran the daily updates on my operating system. Although that should have been only security updates and bugfixes, it  might have changed something system wide. What non-pure python packages might RepoBee

[2020-12-11 16:07] slarse commented on #774
I'm not sure what your setup is like, but there might have been a rolling update. Your first request might have hit some earlier version of GitLab, and then the second one hit 13.6.2 which introduced some problem.

I'm still testing on my end, I'm having trouble with getting the system tests running for 13.6.2.

[2020-12-11 16:41] slarse commented on #774
To be clear, it's very unlikely that something on your machine changed in between two invocations of `setup` and `clone`. I just don't see how that could happen.

System tests are passing now with 13.6.2, so it doesn't seem to be a version incompatibility.

None that I know of. RepoBee does not require a C-compiler, so there shouldn't be any non-pure packages. That's not to say that I'm sure, ther

[2020-12-11 16:47] htdebeer commented on #774
Thanks for the offer. Monday I will try to install and run RepoBee on a different machine and see if that makes a difference. Then I will also try a different Gitlab "group" to see if that helps any. Finally, I can also try running against a different gitlab instance and see what happens. I'll report on my findings.

[2020-12-11 16:51] slarse commented on #774
Just FYI, underlying library that RepoBee uses to interface with GitLab is called `python-gitlab`, and the code that is giving you grief right now is right here: https://github.com/repobee/repobee/blob/481c15b191829dc2c423c57b1c4ac6e50394676d/src/_repobee/ext/gitlab.py#L435-L448

If you install `python-gitlab` (`pip install python-gitlab==2.4.0`) into some environment, you can try some manual debu

[2020-12-11 16:58] slarse opened #776 "Move system tests to GitHub actions"
Travis credits are too sparse.

[2020-12-11 17:19] htdebeer commented on #774
I tried your python-gitlab example, and that works as expected: it returns a list of groups. Creating the list "slug_matched" also works without a problem.

[2020-12-11 17:38] htdebeer commented on #774
I just installed repobee on another machine and configured it with the same git server, org_name, and user, but to no avail: the group with the slug cannot be found.

[2020-12-12 15:26] slarse commented on #774
This is absolutely perplexing. I need more logging output to figure out what's going on. I'll push a new branch ASAP with ludicrous amounts of logging and give you instructions for how to install it (don't worry, it's very easy :).

[2020-12-13 21:05] slarse commented on #774
@htdebeer I've got a slightly tweaked version of RepoBee for you with more logging and slightly different fetching of the target group. You can try it out like so (these are shell commands):

[code]

That should give you a virtual environment with this custom version of RepoBee. It will still access your regular config file. Then run `config verify`.

[code]

The tweaks in this version _might_ sol

[2020-12-14 07:07] slarse commented on #776
Done with #775

[2020-12-14 07:07] #776 closed

[2020-12-14 07:41] htdebeer commented on #774
This works!

I also tried again with the old version, and that one still breaks. Now I am curious: What specific circumstance did cause this?

[2020-12-14 18:18] slarse commented on #774
It was most likely a paging issue. For some reason, the GitLab plugin is using the search API to find a group by a given name (although it's perfectly possible to just fetch by path), but it only fetches a single page. There must have been more hits than a single page when searching for your group, because all I did on that branch was to fetch more pages. Which is really strange considering that n

[2020-12-14 18:33] slarse commented on #774
I've pushed an update to the same branch, could you pull that down and verify that it still works? If it does, I'll merge it and then make a new release.

[2020-12-14 20:53] htdebeer commented on #774
It is still working!

A paging issue explains the sudden change in behavior. Nice find! Thanks for all your help.

[2020-12-14 21:07] slarse commented on #774
That's great! Thanks for trying out the patches; fixing tiny details like this is super difficult without active participation from users. Expect a new release sometime tomorrow, containing both the fix in #777 and the other thing you needed with the `post_setup` hook :)

[2020-12-14 21:35] #774 closed

[2020-12-14 21:41] slarse commented on #772
Actually, this appears to be available from the api. Group objects have an attribute `share_with_group_lock`, which should be set to `False`. So this can be incorporated into `GitLabAPI.verify_settings`

[2020-12-16 17:24] slarse commented on #774
@htdebeer This fix is now published in v3.5.0 :)

[2020-12-16 20:38] htdebeer commented on #774
I saw it. It works like a charm! Thanks

[2020-12-16 20:42] slarse commented on #774
Awesome!

[2020-12-19 11:46] slarse opened #780 "Codecov is not posting statuses to PRs anymore"
I have this problem across multiple projects; Codecov just suddenly stopped posting statuses to PRs. It's posting statuses to the master branch, though. No idea what's going on with that.

[2020-12-19 12:21] #780 closed

[2020-12-19 15:19] slarse opened #782 "Add non-interactive modes for plugin install, uninstall and activation"
To be able to use RepoBee in scripts, it's important that all features have non-interactive modes of execution. Currently, the plugin commands do not.

- [x] `plugin install`
    - I think this needs `--plugin-version` and `--plugin-name`
- [x] `plugin activate`
    - This one should only need `--plugin-name`
- [x] `plugin uninstall`
    - This one should only need `--plugin-name`

[2020-12-25 13:15] slarse commented on #782
Finally, all of it should be documented in the user guide.

[2020-12-25 14:21] #782 closed

[2020-12-25 14:28] slarse commented on #782
@dbosk You've now got non-interactive options for all plugin commands, see the [latest version of the docs for details](https://repobee.readthedocs.io/en/latest/plugins.html) :)

[2020-12-30 07:38] slarse opened #789 "Redesign review assignment such that each students gets a separate review issue"
GitLab CE and GitHub free do not support multiple assignees per issue (#532 #696). This causes trouble for the current review assigning scheme, which assigns all reviewers for a single repository to a single issue.

A workaround for this is to open one issue per reviewer.

[2021-01-02 15:19] dmusican opened #790 "Allow tamanager to add access at an assignment level"
In the upper level courses that I teach, I regularly use one or two students in that course who also work as the course graders. (I'm at an undergrad only institution, and we often don't have students otherwise available to grade our advanced classes.) The workflow is that they submit their work to me --- which I grade --- and once they have submitted their work, I provide detailed grading rubrics

[2021-01-02 19:36] slarse commented on #790
Hmm, that is a super interesting use case I think should be supported. I'm relatively certain you could hack it with the currently existing functionality, like so:

1. Manually create the `repobee-teachers` team and add your grader students to it (with whatever access rights they need).
2. Run `repobee -p tamanager repos setup --assignments <the assignments in question> [...]`. This will add all o

[2021-01-02 19:43] slarse commented on #790
Once we've decided on the best way to implement this, I can give you an outline of how to do it and you can have a go at. It would make for a great first contribution to the code base for you!

[2021-01-02 23:38] dmusican commented on #790
Thanks for the response -- and that's cool that the built-in functionality will already do it. That will certainly get me rolling with the course I've got coming up.

Regarding making it more user-friendly and adding it to the system: I've spent a little time looking at both of your options and I keep going back and forth. From a user perspective, it seems that it more naturally belongs in the tam

[2021-01-03 10:10] slarse opened #791 "Add double-blind review"
It would be very neat to have double-blind review. I think double blind review is possible to add on top of the existing review functionality. Let's say something like this.

Instead of assigning reviewers to the existing repos, make a copy of each repository. The name of the repository copy can be something like `hash(repo_name + salt)`, where the teacher provides the salt. As long as the teacher

[2021-01-03 10:10] slarse commented on #790
There are not-so-hard ways to make it work in the `tamanager` plugin as well, but in terms of semantics I think that the review functionality is a better fit. The one problem there, since it's single blind, is that a review issue is opened by default in the reviewed repo specifying the reviewer, so there would need to be a new argument or hook to disable opening that issue. Perhaps we could simply

[2021-01-03 10:13] slarse commented on #790
A problem is that `reviews check` won't work as expected with this new allocation scheme, as it expects all reviewing students to also have been reviewed themselves. However, as your reviews are single-blind, I'm assuming you don't intend for students to post reviews as issues on the GitHub issue tracker, and have some other way of collecting reviews. So, it's not an immediate problem for you, and

[2021-01-05 13:47] slarse commented on #732
Just a quick update on this: I'm a bit behind schedule, but alpha support for Gitea should be available in a week or so. I just managed to get the system tests running in #792, and now need to finish implementing the a rudimentary version of API wrapper and clean up a bit.

[2021-01-06 20:05] dmusican commented on #790
This all sounds good, and many thanks. My winter term has just started this week and I've got fires burning everywhere, but this is important to me because I actually need this functionality. I hope to be in touch soon with an attempt at making this work!

[2021-01-07 10:52] dbosk commented on #782
Awesome! :-D Thanks a lot!

[2021-01-08 18:20] slarse commented on #790
Totally understand, I've got quite a bit of work to do to prepare RepoBee for SIGCSE myself, so I don't mind that we push this back a bit.

[2021-01-09 20:45] #732 closed

[2021-01-09 20:46] slarse commented on #732
And there we go, RepoBee now fully supports Gitea. In theory. It's not super well tested yet, there are bound to be bugs.

[2021-01-11 18:40] slarse opened #802 "Gitea does not allow users with only read access to a repository to be assigned to issues"
This is a problem for the review functionality, as it relies on assigning students to issues. Not quite sure what to do about it.

This is the third problem with issue assignees, counting #696 and #532

[2021-01-16 21:45] slarse opened #806 "Add delete_repo to PlatformAPI"
To fully support double-blind peer review (#791), we must be able to delete repositories.

[2021-01-17 20:57] #806 closed

[2021-01-24 15:53] #791 closed

[2021-01-24 15:55] slarse opened #811 "Make it possible to somehow collect and/or distribute double-blind reviews"
There's currently no mechanism in place for collecting and/or distributing the double-blind reviews to the reviewed repos. I've got 3 ideas for this:

1. Automatically re-post issues in the original repos on executing reviews end
2. Make it possible for reviews check to collect the review issues into a JSON file, and add a new command for distributing issues from a JSON file (not necessarily tied

[2021-01-24 15:56] slarse commented on #811
To be clear: right now it's only possible to check who has performed their reviews with `reviews check`, as is the case for the normal no-blind review mode.

[2021-01-24 16:02] rjglasse commented on #811
I vote for (2). Whilst (1) is fine for informal peer review, a teacher may wish to review the peer review process first, possibly check / grade / approve. Collecting it as a JSON file with the option to distribute later works nicely for this more advanced use case of assessed / moderated peer review.

[2021-01-25 16:56] slarse opened #812 "GitLab plugin crashes if one tries to include the owner of the token as a "student""
If the tokens owner is included in the `--students` argument, then the GitLabAPI crashes. The cause is that the `_repobee.command.teams.create_teams` function tries to add the owner to the new student team, but that causes a crash as the owner is always part of groups it creates on GitLab.

There are two possible solutions to this:

1. Never try to add the owner of a token as a member of a group (

[2021-01-25 17:19] slarse commented on #812
I consider GitHub to be the "reference" implementation, and there the behavior is to update the permissions of any members that already exist. So, the 409 error should be caught and handled by issuing an update instead.

[2021-01-27 20:05] tohanss opened #813 "[docs] Make a "Cool things you can do" part of the documentation"
Maybe this doesn't have to be part of the documentation, instead, it could be something separate or on the website.

Anyway, I just got the suggestion that we should have a page somewhere where you can see the "cool" things repobee can be used for and I realized that this could be something good to promote repobee. The point here being that showing people how much time they can save is usually mor

[2021-01-31 09:09] slarse opened #815 "Assigning double blind peer reviews currently creates anonymous repos for _all_ student repos"
And not just the ones actually considered for peer review.

[2021-01-31 10:54] slarse commented on #813
That's a neat idea. I've been thinking about adding something like that for writing plugins, but it would make sense to add it for the built-in commands as well. We could also start highlighting advanced cross-usage of commands.

I think it would make sense to put a "Cool things you can do"-section at the end of each category doc. For example, cool things with the `issues` commands would go at the

[2021-01-31 12:19] #815 closed

[2021-02-04 21:07] #811 closed

[2021-02-15 21:30] slarse opened #824 "config wizard does not respect `--config-file` preparser argument"
The config wizard always uses the default config file. This is a bit inconvenient, especially with the local config files added in #823. Plugins need access to the preparser options in order to be able to respect the config file.

[2021-02-15 21:49] #465 closed

[2021-02-17 12:29] amaberg opened #825 "Double-blind peer-review: failing to push to an anonymous repo can make it undeletable"
![image](https://user-images.githubusercontent.com/52538934/108203976-7b381880-7123-11eb-9fae-0f3378889fb2.png)
![image](https://user-images.githubusercontent.com/52538934/108204323-f13c7f80-7123-11eb-9a77-88460daa0eb8.png)

If a repo is created and the assign-operation then fails, you can't remove the repo created with the end-command

[2021-02-17 12:52] slarse commented on #825
Thanks for the bug report. This is really two related issues:

1. RepoBee must check that Git is properly configured before proceeding.
2. The order of operations is a bit unfortunate. It would be better if the anonymous repo was assigned to its team _before_ pushing.

[2021-02-21 21:43] slarse opened #828 "Installer is installing alpha versions of RepoBee"
The installer just picks the latest release and install that. Previously, alpha, beta and rc versions weren't published as releases, they were just tags. After moving the CI to GitHub Actions, the way to trigger an upload to PyPi is by publishing a release. This had the unintended side effect of installing unstable releases with the install script.

[2021-02-22 19:52] #824 closed

[2021-02-22 20:04] slarse commented on #828
Fixed by marking the alpha releases on GitHub as "pre-release". These don't show up when you fetch the latest release, which instead directs to the latest non-pre-release release :)

[2021-02-22 20:04] #828 closed

[2021-02-22 20:26] slarse commented on #790
@dmusican I've got a few developments that you might be interested in.

First, we've got double-blind peer review functionality coming in RepoBee 3.6 (which will be releasing within two weeks). It's in alpha and the exact workings will not stabilize until RepoBee 4 (which will release this summer), but it works and I think it's pretty cool :). We tried it in action last week with around ~50 or so

[2021-02-22 23:21] dmusican commented on #790
Fantastic; I'm glad to hear of both developments. I'm hoping to get to work on this during my spring break, which is in the middle of next month.

As an aside, RepoBee has been wonderful. I've been using it heavily in my upper-level course this winter, and it has been rock solid. Many thanks for making this available.

[2021-02-23 21:07] slarse commented on #790
That's great. Ping me when you're about to get started. If all goes according to plan, I should have implemented the new peer review commands. The functionality will essentially be the same, it'll just be packaged a more nicely from a user perspective. I plan to put them in alongside the current ones, which will be deprecated and finally removed when RepoBee 4 releases this summer. With those in p

[2021-02-24 01:09] dmusican commented on #790
Will do!

[2021-02-25 20:04] #825 closed

[2021-02-25 20:07] slarse commented on #825
@amaberg Thanks for the bug report, I've fixed it now so it's always possible to end reviews, even if the review teams are missing (which was the problem here).

[2021-02-28 09:41] slarse opened #831 "Enable bash completion in Docker image"
It's super easy to enable completion in the docker images, so might as well do that by default.

[2021-02-28 09:43] slarse opened #832 "Move tab completion instructions to the docs instead of embedding them in the installer"
And then just put a link in the installer.

[2021-02-28 10:30] slarse opened #834 "Document how to use RepoBee with Docker"

[2021-02-28 10:42] #832 closed

[2021-02-28 15:19] slarse opened #835 "Set more "ordinary" UID and GID for the repobee user in Docker"
Both IDs are currently 101, which is not very common. 1000 is afaik the most common UID/GID for the first non-root user on a UNIX-like system, and that user is typically the one that actually uses the computer.

[2021-02-28 16:10] #835 closed

[2021-02-28 17:52] #834 closed

[2021-02-28 17:54] slarse opened #838 "Reference Docker usage instructions in README and on website"
When 3.6.0 is about to be, or has been, released, it'd be nice to reference the Docker instructions both in the README and on the website.

[2021-02-28 17:59] slarse opened #839 "Clean up Docker image by remove RepoBee source after install"
Currently, the whole source directory is left in the Docker image. That should be removed.

[2021-02-28 18:18] #831 closed

[2021-03-01 21:27] slarse opened #843 "Document usage with Gitea"
And sprinkle in some mentions that RepoBee now supports Gitea as well!

[2021-03-02 07:09] #839 closed

[2021-03-02 07:42] #812 closed

[2021-03-02 21:44] #843 closed

[2021-03-04 18:35] slarse opened #848 "Remove --use-feature=2020-resolver"
It's causing a test failure with the newest version of pip ([see here](https://github.com/repobee/repobee/runs/2033663168?check_suite_focus=true#step:6:124), and will cause errors in an upcoming version of pip. So best fix this quick!

[2021-03-04 19:42] #848 closed

[2021-03-05 07:22] slarse commented on #838
This is done.

[2021-03-05 07:22] #838 closed

[2021-03-05 10:20] slarse opened #850 "Update python-gitlab to v2.6.0"
New release: https://github.com/python-gitlab/python-gitlab/releases/tag/v2.6.0

[2021-03-06 23:18] slarse opened #851 "Hook results for setup are printed even when there are none"
It just prints "hook results for <ASSIGNMENT_NAME", and then nothing. Which is annoying.

[2021-03-06 23:42] slarse opened #852 "Strange error when running `repos setup` and target org does not exist"
This is most likely an oversight in the GiteaAPI implementation.
[code]

[2021-03-07 18:11] #851 closed

[2021-03-07 18:47] #852 closed

[2021-03-07 20:30] #850 closed

[2021-03-08 19:13] slarse opened #856 "Progress bar not progressing in `reviews end`"
When deleting repositories in double-blind `reviews end`, the progress bar isn't moving.

[2021-03-08 20:18] slarse opened #858 "GiteaAPI.get_repos crashes with NotFoundError if a supplied URL does not exist"
This is incorrect behavior, the supplied URLs should act as a filter

[2021-03-08 21:01] #858 closed

[2021-03-08 21:15] #856 closed

[2021-03-11 15:04] htdebeer opened #860 "Config Verify Does Not Accept GitLab URL https://localhost:50443"
When I configure RepoBee to use my localhost as GitLab base_url (https://localhost:50443), `repobee -p gitlab config verify` gives error:

[code]

However, when I access the GitLab API directly with something like `wget "https://localhost:50443/api/v4/projects" --no-check-certificate`, GitLab does not seem to have an issue with this.

I am running GitLab locally with docker.

[2021-03-11 15:32] htdebeer commented on #860
If I use an URL like `https://gitlab.loc.al:50443`, it is not working either. Maybe the port part of the URL is not supported?

[2021-03-11 15:33] slarse commented on #860
Hi @htdebeer ,

There are a few things that can go wrong when using a local GitLab instance. Could you show your `docker-compose.yml` and any other relevant configuration?

If you're using RepoBee's system test configuration, it's a bit... stupidly set up, and you need to follow the instructions in the [README](https://github.com/repobee/repobee/tree/master/system_tests/gitlab#usage) carefully. I'

[2021-03-11 15:34] htdebeer commented on #860
I adapted your docker-compose.yml a bit and came up with:

[code]

[2021-03-11 15:35] htdebeer commented on #860
But my certificate was for no domain at all. I'll try setting it for "gitlab.loc.al"

[2021-03-11 15:38] slarse commented on #860
You could have it for the `localhost` domain as well, that'd work fine.

[2021-03-11 15:40] slarse commented on #860
I'm not sure about the mixing and matching of ports, however. I think the easiest way to get it all to work is to use the same ports internally in docker, as you use externally on your host machine. So if you use `443`, then put that everywhere. It should of course be possible to mix and match, but from personal experience it hasn't been worth the hassle.

[2021-03-11 15:42] htdebeer commented on #860
I am also running a Canvas docker container that already uses port 443. I am not sure how to have both services use the same port.

[2021-03-11 15:44] slarse commented on #860
That you can't. Then use `50443` for GitLab, just use it everywhere :)

[2021-03-11 15:45] slarse commented on #860
Like this (all ports prefixed with `50` or `500`):

[code]

[2021-03-11 15:59] htdebeer commented on #860
That does not seem to make a difference. I also tried to replace all occurrences of "localhost" with "gitlab.loc.al" in the docker-compose.yml file, but that did not make a difference either.

Is there a way to get a more finegrained error message from the gitlab plugin?

[2021-03-11 16:00] slarse commented on #860
OH, right, have you set the environment variable `REPOBEE_NO_VERIFY_SSL=true`?

[2021-03-11 16:01] slarse commented on #860
It's a hidden option as you're not really supposed to use RepoBee without SSL verification (as it sends the token over HTTPS).

[2021-03-11 16:01] slarse commented on #860
Yes, add `--traceback` to the command and you'll see where the error comes from.

[2021-03-11 16:02] slarse commented on #860
See the docs here about SSL verification: https://github.com/repobee/repobee/tree/master/system_tests/gitlab#disable-ssl-verification

[2021-03-11 16:06] htdebeer commented on #860
Disabling SSL verifying with `REPOBEE_NO_VERIFY_SSL=true` did the trick!

Thanks for your help!

[2021-03-11 16:06] #860 closed

[2021-03-11 16:09] slarse commented on #860
Awesome, glad I could help :)

[2021-03-11 16:29] slarse opened #861 "Add hint about how to smoothly create a local config file"
Right now, the [docs on local config files](https://docs.repobee.org/en/stable/getting_started.html?highlight=local#local-config-files) just say that you can create a local config file called `repobee.ini`, that takes precedence over the global config file. There's no mention of how to do this. The simplest way is like this:

[code]

This _is_ noted in the [Docker docs](https://docs.repobee.org/en

[2021-03-11 16:30] slarse commented on #861
@htdebeer this might be of interest to you if you need to bounce between your local environment and your school's actual GitLab instance.

[2021-03-11 18:44] slarse opened #862 "Repo urls from Gitea are sometimes http instead of https"
Not sure what's causing this, but today when I was working with https://gitea.repobee.org and ran `issues list` with `--hook-results-file`, all of the repo urls had the http protocol, as opposed to the expected https.

[2021-03-12 11:36] htdebeer commented on #861
Nice tip! I did this, but at the end of the wizard, I got the message "`Configuration file written to /home/huub/.config/repobee/config.ini`". The "`repobee.ini`" file in my current directory did get written, though

[2021-03-12 13:00] slarse commented on #861
Oops, that message is hard-coded! Thanks for pointing it out :)

[2021-03-12 13:00] slarse opened #863 "Config wizard always says it edits the default config file"
Nice tip! I did this, but at the end of the wizard, I got the message "`Configuration file written to /home/huub/.config/repobee/config.ini`". The "`repobee.ini`" file in my current directory did get written, though

_Originally posted by @htdebeer in https://github.com/repobee/repobee/issues/861#issuecomment-797435563_

[2021-03-12 13:01] slarse commented on #863
The message is hard-coded :)

[2021-03-12 13:45] htdebeer commented on #860
To add, to run the `repobee repos setup` command, I also had to disable SSL check for Git using `git config --global http.sslverify false`. Do not use this in a production environment, though!

[2021-03-12 14:29] slarse commented on #860
Correct, that's also in the docs here: https://github.com/repobee/repobee/tree/master/system_tests/gitlab#disable-ssl-verification

It's somewhat hidden away because I don't want to accidentally have non-developers do that to "fix a problem". In practice, RepoBee cannot be used without SSL, it's just for development.

[2021-03-12 17:16] #863 closed

[2021-03-12 17:36] slarse opened #865 "Make it possible to install a plugin from a remote Git repository"
`plugin install` should have a `--remote` option, at which you can specify the URL to a remote Git repository.

[2021-03-12 19:17] dmusican commented on #790
I think I'm ready to get started -- that said, you may be swamped getting ready for SIGCSE, which is reasonable! (I'm attending but not presenting.) If you've got info to point me towards regarding the new functionality, let me know when you can.

[2021-03-13 10:56] slarse opened #867 "Add RepoBee 4 review commands as preview feature"
The review commands are to be restructured according to the discussion here #790.

Essentially, `reviews-assign` remains more or less unchanged, but it spits out a review allocation file, which is then used by `reviews check` and `reviews end`. So, calling e.g. `reviews check` should be as simple as:

[code]

[2021-03-13 11:00] slarse commented on #790
@dmusican Great to hear you're about to get started.

Feel free to drop by the RepoBee demo if you've got the time :). It'll be during the demo slot on the 16th, 6pm-7.45pm CET. We'll be showing the bare basics along with a quick-tutorial for writing plugins, and then there'll be a 10-12 minute Q&A.

It's not implemented yet as I've been quite busy, but I'm working on it as I type this and think I

[2021-03-13 15:35] slarse commented on #790
@dmusican I've merged a first version of the new RepoBee 4 peer review commands into the master branch. If I've not made any massive mistakes, they should support asymmetric review assignments.

They're locked behind a hidden feature flag, see #868 for details.

[2021-03-13 18:21] dmusican commented on #790
Fabulous, thanks. I'll try to attend the session; a brief tutorial on writing plugins seems like it will likely be helpful and worth waiting a few days for!

[2021-03-14 10:32] slarse opened #870 "Config wizard always says it's editing the global config file"
It's hard-coded... https://github.com/repobee/repobee/blob/8b0bcd2d0309ef97e526de8c551b6b9b85e89f0b/src/_repobee/ext/defaults/configwizard.py#L42-L49

Whereas it should check if the input `config` exists, and then say it's editing that.

[2021-03-14 10:36] slarse commented on #870
This is straightforward to fix, and a great first contribution to the source code.

To test it, one can use the test that checks the end message as a starting point: https://github.com/repobee/repobee/blob/8b0bcd2d0309ef97e526de8c551b6b9b85e89f0b/tests/new_integration_tests/test_config_category.py#L102-L124

To fix it, see the corresponding fix for the end message: https://github.com/repobee/repob

[2021-03-14 11:10] #861 closed

[2021-03-14 19:19] slarse commented on #862
This wasn't a bug in RepoBee, it was a misconfiguration of gitea.repobee.org

[2021-03-14 19:19] #862 closed

[2021-03-15 17:06] slarse opened #872 "repobee_plug.config is missing from the module reference"
It must be added to `docs/repobee_plug/code.rst`

[2021-03-16 20:55] slarse opened #873 "Improve local config file lookup"
Currently, local config files are only found if you're in the same working directory. It would be convenient if RepoBee would search up the directory tree.

[2021-03-17 17:57] slarse opened #874 "Allow local config to inherit from other config"
In order to make it less of a hassle to manage multiple courses that have some configuration in common, it would be nice to be able to inherit options from a parent config. There are three aspects to this: how is inheritance defined, what to do about transitive inheritance, and whether or not to allow shadowing.

Finally, there is also the question of how the `config` commands should work.

Assume

[2021-03-18 16:07] slarse commented on #874
@dmusican @htdebeer @rjglasse I've discussed this briefly with all of you. @tohanss you might also want to chime in.

I'm decided on _explicit_ inheritance, but not whether to go nominal (`parent = path`) or structural (`inherit = True`). I'm leaning toward nominal. Preferences?

I'm very much undecided on transitive inheritance. On the one hand, it's easy to implement, possibly easier than disall

[2021-03-18 16:35] htdebeer commented on #874
The nominal variant of inheritance is more flexible, and would allow inheritance not only in a parent-child configuration, but in any configuration imaginable, including child-parent! I.e., that the parent directory inherits from a child directory's repobee.ini. In a more realistic example, I could have a directory with "base" repobee.ini files, like "production.ini" and "test.ini", with URLs, tok

[2021-03-18 16:54] slarse commented on #874
That's a pretty convincing argument for nominal inheritance! With that in mind, I think nominal is the clear-cut winner.

While programmatic access is entirely possible (we bake it into the as-of-yet undocumented `Config` class), this has to be designed with a non-Python-programmer user in mind. It should be accessible to any RepoBee user. I.e. programmatic access shouldn't play a role in deciding

[2021-03-18 21:04] dmusican commented on #874
I'm late to this party and am just weighing in by invitation, but I agree that nominal inheritance makes sense. In addition to the above use cases, I can easily imagine having a template directory with basic settings, and then sibling directories that want to inherent from it. Nominal inheritance would even easily allow for multiple inheritance... which hasn't been addressed yet?

I'm struggling a

[2021-03-18 21:31] #873 closed

[2021-03-21 09:27] slarse commented on #874
@dmusican

I hadn't even considered allowing multiple inheritance. I'd veto that, though, it adds significant complexity at little to no benefit.

I'm also leaning towards this simply because that's the "reasonable" thing to expect. If it's not too much of a hassle to implement, I suppose I'll do it. It should be easy; recursive config resolution coupled with a cyclic inheritance check.

Yes, I ca

[2021-03-22 19:23] dmusican commented on #790
@slarse I'm working on getting started; for the time being, I'm not worried about blinding at all, just to get going.

As you suggested, I'm going about it based on your advice by working on making a variation of the pairwise plugin, as a command extension. It makes sense. So here's my question...

I'm setting it up so that the user can specify the name of the student grader on the command line vi

[2021-03-23 07:14] slarse commented on #790
Hi Dave!

This is a not-so-evident part of the plugin API that's suffering from a bit of legacy and poor naming. Basically, there are two kinds of team representations: [`plug.StudentTeam`](https://docs.repobee.org/en/stable/repobee_plug/code.html#repobee_plug.localreps.StudentTeam), which is a local representation, and [`plug.Team`](https://docs.repobee.org/en/stable/repobee_plug/code.html#repobe

[2021-03-24 22:03] dmusican commented on #790
Fantastic, thank you -- I will give this a try, it looks like exactly what I need.

[2021-03-26 07:26] iupNZdsLJM opened #876 "Loading, creating, and writing RepoBee config files and adding any argument to a RepoBee config file"
I have created a prototype for an "init-course" command that would take a URL to a Canvas course and then start a wizard to setup a directory for that course. While building this command, it would have been nice to be able:

- to load the current RepoBee config easily
- maybe to load the global RepoBee config as well
- an easy way to construct a fresh RepoBee config and write it to file

You can f

[2021-03-26 18:56] slarse commented on #876
Hi @htdebeer-tue!

This is already possible with the [`handle_config` hook](https://docs.repobee.org/en/stable/repobee_plug/code.html?highlight=handle_config#repobee_plug._exthooks.handle_config).

There's currently no built-in support for getting the global config specifically, `handle_config` always gets the most local config. If there's no local config, then that'll always be the global config.

[2021-03-26 20:24] htdebeer-tue commented on #876
Thanks for your feedback! As a Python beginner, it is awesome to get some expert input. I will apply those suggestions next week.

I also appreciate your explanation / pointers to using RepoBee Config. That allows me to finish the "init-course" command and with your other remarks, the "init-assignment" command should not be much of a hassle either.

I do not think I do need any other new features

[2021-03-30 08:38] slarse commented on #876
You're welcome!

I'll poke my head back in here once non-RepoBee-related things have settled down on my end, which should be in a week or two.

[2021-04-06 15:01] htdebeer opened #877 "Getting a list of repos in master / template organization"
In a plugin's command method, I get the platform API as second argument `api`. With the call `api.get_repos()` I get a list of student repositories. However, I would like to get a list of template repositories available in the master organization. I looked in the documentation of the platform API, but I seem unable to find a method to get these template repositories.

How can I get a list of templ

[2021-04-09 15:18] slarse commented on #877
Hi @htdebeer,

If I understand correctly, what you need is to "discover" the available template repositories (without a user specifying e.g. `--assignments`). The way RepoBee currently works, that's not possible out-of-the-box.

First of all, the PlatformAPI does not have a notion of template/student repositories, those are higher level concepts. Also note that the PlatformAPI operates against a s

[2021-04-09 17:51] htdebeer commented on #877
Your analysis is spot on. I assumed that the "template organization" and "target organization" were of similar scope, just different uses. And thus I expected to be able to access the "template organization" and its repositories in a similar way as I can those of the "target organization".

I now understand that the "target organization" is completely controlled and managed by RepoBee, but the "te

[2021-04-09 17:59] htdebeer commented on #877
So, after running `repobee canvas init-course https://url.to/course/on/canvas` and a couple of times `repobee canvas init-assignment`, you would end up with the following directory structure:

[code]

These `repobee.ini` files inherit from their parents. The `students.lst` are fixed for each assignment, based on the assignment configuration in Canvas. Idem for the `canvas-git-map.csv`, which is ba

[2021-04-10 13:16] davbeek opened #880 "Extended syntax of students file"
After having used GitHub Classroom last year for my course of about 160 students, I intend to switch to Repobee this year. After some preliminary tests, repobee appears to satisfy my needs and has a big advantage in that I can use GitLab instead of GitHub.

I have, however, encountered one problem. TUE students use their 8 digits TUE login id also for gitlab, which means that for a group of two st

[2021-04-11 09:01] davbeek opened #881 "Make it possible to clone repositories into flat directory structure"
When cloning student repos to my local computer, I end up with each student repo in its own private folder, because Repobee creates for each student group a separate folder. For instance, I have a task task1 and the following students file:
20171234 20171256
20176543 20175890

If I then create the student repos and clone them, I end up with two folders:
- 20171234-20171256, which contains a single

[2021-04-12 06:26] slarse commented on #880
Hi @davbeek,

Thanks for the very elaborate problem description!

While most of what you need can already be achieved with some relatively simple plugins, I think it's about time this functionality is added to RepoBee itself (so, option 2). This is not the first time I've gotten the request.

I will think about the best way to do this and get back to you. I think a standardized format (e.g. YAML)

[2021-04-12 06:30] slarse commented on #881
Hi @davbeek,

The subdirectories serve the purpose of avoiding name collisions on platforms that support nested namespaces (currently only GitLab). There's nothing stopping students from creating identically named repositories on GitLab, and when running RepoBee with `--discover-repos`, it can cause name collisions in a flat structure.

It's also been requested by multiple users to get some struct

[2021-04-12 12:06] davbeek commented on #881
That would be really great!

[2021-04-12 12:31] davbeek commented on #880
Sounds good, thanks for taking this into consideration.

[2021-04-12 15:36] slarse commented on #881
I changed the title of the issue to reflect the suggested solution :)

Off the top of my head, this feature should be very straightforward to add. I'll give it a look as soon as I can.

[2021-04-12 16:44] slarse commented on #877
Not completely, there is nothing in RepoBee stopping users (teachers or students) from adding repositories on their own. One mode of using RepoBee (the currently poorly document "discovery mode") allows students to create repositories on their own, name them whatever, and then add them to their student teams in order for RepoBee to find them.

The template organization is mostly a data source, but

[2021-04-12 17:52] htdebeer commented on #877
Yes! As far as I now foresee, this covers my basic use case of creating and configuring a directory tree of RepoBee + Canvas managed assignments and repositories.

[2021-04-12 18:47] slarse opened #882 "Make it possible to instantiate PlatformAPI from existing one, but with new backing organization"
For example, given an `api: PlatformAPI` for the target organization, it would be good to be able to instantiate one for e.g. the template organization. Something like so:

[code]

See #877 for more details.

[2021-04-12 18:49] slarse commented on #877
Very good! Implementing #882 is probably easier than finishing my work on the config inheritance (which turned out to be rather tricky), so I may have a go at #882 first. In any case, these are the next two issues I'm tackling, I hope to be done with both in a couple of weeks or so.

[2021-04-12 19:06] #865 closed

[2021-04-12 19:38] htdebeer commented on #877
Awesome!

[2021-04-13 16:34] #870 closed

[2021-04-14 07:46] slarse opened #888 "Remove traces of Travis CI"
There are still some traces of Travis CI in the project, and we haven't used Travis for quite some time now. On a cursory glance, the `.travis` directory and `.travis.yml` files are still there.

[2021-04-16 00:43] #888 closed

[2021-04-21 15:16] sakehl opened #890 "Not possible to use sub-groups as Organisation name whilst using GitLab plugin"
Hi,

We've started using Repobee together with the GitLab plugin. We've set up the first assignment, and this worked perfectly, but now we try to run setup again (since not all students created an account yet the first time), we encountered an error. It seems to be related that we use a Sub-group as the `org_name` in the settings. Since when I do not use a sub-group, but a normal group I don't get

[2021-04-21 16:32] sakehl commented on #890
I've dived into this since I really wanted this to work (and not create the repo's again). Seems like an easy fix, works on my end now.

[2021-04-22 06:48] slarse commented on #890
Hi @sakehl,

I'm sorry you've run into trouble, but massive thanks for the thorough bug report and PR. I'll have a closer look at this after work today.

[2021-04-22 15:01] slarse opened #892 "Make it possible to run GitLab system tests by using specific commit message"
If `[gitlab]` is in the commit message, the GitLab system tests should run!

[2021-04-22 15:22] slarse commented on #892
There was no easy way to get the commit message, but PR title works!

[2021-04-22 15:32] slarse opened #894 "Make GitLab system tests execute outside of Docker (like the Gitea system tests)"
I really cannot recall why I chose to execute the GitLab system tests inside of Docker. It seems to me like it should be just fine to execute the tests outside of Docker as long as there is a route to the GitLab host, and it knows it's called "localhost".

[2021-04-22 15:48] #892 closed

[2021-04-23 08:26] sakehl opened #896 "Gitlab when "Default branch protection" is configured on the instance, all student repo's cannot push to master"
In Gitlab, it is possible to set "Default branch protection" to "Fully protected" (or something similar), see [here](https://docs.gitlab.com/ee/user/admin_area/settings/visibility_and_access_controls.html#default-branch-protection) in the admin area. This means that any newly created group automatically set their branch protection to "Fully protected".

E.g. see:
![image](https://user-images.githu

[2021-04-23 14:47] slarse commented on #896
I also think that in general, this is not desirable. I'd like RepoBee's behavior to be as consistent across platforms as possible, with GitHub as the reference. And on GitHub, this behavior does not exist, the default branch is always unprotected (for better or for worse). Therefore, I would favor option 1. at the moment, and I consider this current behavior a bug.

[2021-04-23 14:47] slarse commented on #896
I will get on fixing this right away.

[2021-04-23 14:51] slarse opened #897 "Disable Codecov PR comment"
They distract too much from the discussion. It's fully sufficient to have the status checks.

[2021-04-23 18:40] slarse commented on #896
@sakehl I've implemented a fix using option 1). Thanks for the very thorough description of the problem, made it very easy to fix it.

You're also correct that, somewhat curiously, new groups inherit the global setting, as opposed to the parent group's setting, see [the API docs](https://docs.gitlab.com/ee/api/groups.html#new-group).

[2021-04-23 19:07] sakehl commented on #896
@slarse thanks a lot for the quick look and fix for this. This looks great. I'll test it when I'll set up my new assignments, but I'm pretty sure this should fix it.

[2021-04-23 19:11] #890 closed

[2021-04-23 19:23] #896 closed

[2021-04-23 19:24] slarse commented on #896
You're welcome! This seemed like kind of a showstopper for the GitLab functionality, so I thought it was a high priority to fix :)

[2021-04-23 20:02] dmusican commented on #790
If I had waited one more day, I'd be a month later, but I'm early. :)

@slarse I've got a prototype of the approach that seems to be essentially working. I can prepare a proper pull request, but there's a bug I'd rather fix first, and I thought you might understand it just by looking at the code.

https://github.com/dmusican/repobee/blob/plugin-attempt/src/_repobee/ext/reviewothers.py

The problem

[2021-04-24 09:49] davbeek opened #899 "Squash commits when cloning"
Coming from GitHub Classroom, with [Template repositories](https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-template-repository), I am used to cloned repositories having a [single initial commit](https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-from-a-template).

Repobee, however, leaves all commits intact.

[2021-04-24 09:56] rjglasse commented on #899
Have you checked out https://github.com/repobee/repobee-sanitizer?

We use it to prepare templates, using a solutions branch and a student branch. Sanitizer will strip away solutions based on a simple markup, and the result is a clean student branch with no commit history and just a single commit.

The developers of an assignment can still see the full commit history, but students will see no hist

[2021-04-24 11:01] davbeek commented on #899
I had indeed checked out everything in Repobee, including the sanitizer, but even now, after having reread the santizer documentation, I don't have a clue as to what to do in order to get the single commit you refer to.

[2021-04-24 11:21] rjglasse commented on #899
We probably need a more clear example. Here's my workflow and I hope it clarifies.

1. Create a repo and create a `solutions` branch. The `master` branch will be the one that the student gets during `setup`
2. Checkout `solutions` and add all the material there as normal and commit/push the changes
3. Call sanitizer whilst on the `solutions` branch, and target the `master` branch for the single, s

[2021-04-24 11:51] davbeek commented on #899
That sound like rebase and squash the solutions branch onto master. I could do this without the sanitizer, or am I missing something?

[2021-04-24 12:17] rjglasse commented on #899
Yes, I guess the bigger picture of the Sanitizer is to move us towards "solutions-driven development" of assignments, such that we have a nice warts-and-all history of the evolution of both the solution and assignment that live in one branch, but we can be safe in the knowledge that both the history and solution are hidden from the student when we distribute assignments. So perhaps a little overki

[2021-04-24 13:26] davbeek commented on #899
Thanks, clear! I personally would never want my solutions to live in the same repo as the one distributed to the students, taking [Murphy](https://en.wikipedia.org/wiki/Murphy%27s_law) into consideration. In fact, I know from a student from a course of exactly such an error, where a solution was unintentionally distributed together with an assignment.

Also, I am looking for a solution that is as

[2021-04-24 14:25] rjglasse commented on #899
Before using sanitizer in my workflow, I would have agreed with you completely. Having used it, my position is shifting. On the surface it avoids the chance of drift between solution and assignment that can happen over time, whilst also reducing the effort in maintaining two separate repositories for essentially the same thing. More fundamentally, much like test-driven development, it shifts your

[2021-04-24 19:27] slarse commented on #899
@davbeek I'm not quite sure what you mean by "squash on clone". As you mention cloning template repositories, my understanding is that on running `repos setup`, you want student repos setup with a single, squashed commit of the templates. Is this correct?

In that case, the reason RepoBee does not squash the template repo commits before setting up the student repos is that it would make pushing up

[2021-04-24 19:43] slarse commented on #790
Hi @dmusican, nice to hear from you again :)

Anyway, I think I know what the problem is. When RepoBee assigns reviews, it first tries to fetch review teams, and if they don't exist it creates them. In the case where it fetches an existing review team and adds a member to it (as is the case with your second invocation), the fetched platform team is in fact not updated (this is by design, local pla

[2021-04-24 22:17] davbeek commented on #899
Yes indeed, and I should have stated this as _Squash commits when setting up student repos_. I got the terminology mixed up.

Interesting! I didn't realize there was a trade-off involved.

No, indeed it isn't.

Yes, but I didn't know about the problem of then not being able to push updates. I fortunately never have been in that situation and I would have to consider whether I ever might want to pu

[2021-04-24 22:28] davbeek commented on #899
Just a wild thought: could you perhaps first create a kind of "master repo" with a squashed commit on the target organization and then "kind of fork" the student repos from that "master repo", so that in the special case that one would need to push an update, the update could be done to the master repo? Perhaps that would be to complicated, but it would help me in understanding the problem.

[2021-04-25 07:08] slarse commented on #899
The way update works is that it just tries to push the new state of the template repository to each student repository, without force pushing. If the push is rejected (because the students have already pushed something), then a customizable issue is opened in the student's repository instead, which would typically contain the patch the student should apply and any additional instructions required.

[2021-04-25 09:43] davbeek commented on #899
Thanks @slarse for your elaborate reply. I like your "target organization-local" template repository, which I think, is equivalent to my "master repo", which is created when setting up the student repos and which contains a single commit, equivalent to the squashed version of the user template repo.

When updates are needed, I would require the user to do them exclusively in this target organizati

[2021-04-29 06:30] slarse commented on #899
Just a note on this model; we used to have all our template repos in the target organization in a course with 20+ assignments (one template for each), with solutions in separate repositories, and doing updates in the target organization templates. It was all but impossible to keep everything synchronized, leading to the inception of the template organization as well as Sanitizer.

I'm not knocking

[2021-04-29 08:11] davbeek commented on #899
Agree. In fact, we do have a separate template organization for our (four) templates. These templates, however, tend to get multiple commits over time. The idea would be to let the squashed version of each template be dynamically created on the target organization as a result of the `--squash` flag.

[2021-04-30 10:11] sakehl opened #900 "Usernames in Gitlab are case insensative"
Hi,

I'm unsure if this should be fixed or not, but it is a bit annoying. Apparently, user names in Gitlab are case insensitive, see [here](https://gitlab.com/gitlab-org/gitlab-foss/-/issues/38304):

 Thus, for instance, the real username as is stored in GitLab is "TestUser". But you configured this user as "testuser" in your students file.

Now if you run
```repobee repos setup --tb```
with this

[2021-04-30 10:30] slarse commented on #900
This is a bug. I'm almost certain all of these platforms have case-insensitive usernames as the usernames are always used for the URL to the user's profile (and URLs are for all reasonable routing implementations, case insensitive). Case sensitive usernames seems like a monumentally bad idea, so I really do not think any of the platforms support it, but I'll double check.

At the very least, both

[2021-04-30 10:30] slarse commented on #900
And thanks for the bug report!

[2021-04-30 12:55] sakehl commented on #900
A similar issue happens when you have a students team already setup, but it has a different case compared to what the student is called.

So suppose again you have a team named "TestStudent", but the students is configured as "teststudent"
We will get:
[code]

We can then again fix this in changing in https://github.com/repobee/repobee/blob/master/src/_repobee/ext/gitlab.py#L156
[code]
And in http

[2021-04-30 14:45] slarse commented on #900
The `path` thing for GitLab will of course need to be separately handled, but the fixes I've outlined above should resolve the problems on all other platforms.

[2021-04-30 14:48] slarse commented on #877
Sorry about the delay here, life's just gotten in the way the past month, it may very well have been the busiest month of my life :). This week was however the last ridiculously busy week I'll have in a while, and so I should be able to actually address these things you need within the coming week.

[2021-04-30 15:23] htdebeer commented on #877
Take the time you need!

We're using RepoBee and the Canvas plugin prototype now, so we encounter all kinds of issues and oddities on our end to keep us busy anyway. So this inheritance feature will be used starting next school year.

[2021-04-30 16:20] dmusican commented on #790
Thanks, @slarse , that make sense. I spent a while looking at this, and laughed out loud when I saw the FIXME in there. Rebuilding that API is beyond the scope of what I'm trying to do here. :)

I think my choices are:

- live with it for the time being (and thus perhaps dump out a warning from the plugin)
- try to synchronize the local team with the platform one first (clearly, it's getting synch

[2021-05-02 08:54] slarse commented on #790
In the first run, the team is fetched _before_ adding members to it, and only the members that were initially there are shown in the fetched team. Adding members to it on the platform does not update the local representation. In the second run, the team is fetched again (because it's an independent run) and the members assigned in the first run are thus correctly set in the second one.

To be clea

[2021-05-03 14:46] #900 closed

[2021-05-03 14:48] slarse opened #903 "Lowercase all case insensitive values in PlatformAPI"
See #900 for details on usernames.

Anywhere a case insensitive string (such as a username or url) can be passed to the PlatformAPI, we should lowercase it. Anywhere a string is returned (again, such as a username or url), we should also lowercase it.

As #900 showed a bunch of problems with usernames, I'm guessing there may be similar problems with repo names.

[2021-05-03 14:51] sakehl commented on #900
Thanks a lot!

[2021-05-03 14:53] slarse commented on #900
You're welcome! Do check if it solves the problem for you. I'm pretty confident that it should, as both crashes you provided were reproducible in the system tests.

See #903 as well; I think this affects more parts than just usernames.

[2021-05-03 21:10] dmusican commented on #790
Thanks, this is helpful. Changing the name of the CLI option: that's easy, I've done that.

I like the idea of making the `reviewothers-grader` option be a list. If I do that, do the multiple students have to be in quotes or escaped somehow? If I try it as `--grader studentA studentB studentC`, I get an error that says `repobee: error: unrecognized arguments: studentB studentC`. Quoting the list,

[2021-05-04 06:15] slarse commented on #790
Ah, it appears as if I haven't actually added dedicated support for creating list-like option. You need to pass the `nargs` keyword argument to the underlying `argparse` library. Here's an example of creating a list-like option that takes 1 or more arguments: https://github.com/repobee/repobee-csvgrades/blob/30663f559a6668e4f76e61ea5256d60cf4f1c656/repobee_csvgrades/csvgrades.py#L122

Putting quot

[2021-05-04 13:12] dmusican commented on #790
Great, this seems like a good way to go. I've started trying to work with this example, but haven't yet succeeded in making it work. (I'm getting a "string indices must be integers" error.) In the csvgrades example, how/when does the `_parse_teachers` method get registered, or called? I think, but am not sure, that the analogous method I'm creating isn't getting found. (Regardless, I don't want to

[2021-05-04 13:33] slarse commented on #790
Haha, sorry, `_parse_teachers` is dead code! It's a remnant from before list-like options were supported.

There's no additional work required on your end, if you supply `argparse_kwargs={"nargs": "+"}`, then `argparse` will handle parsing to a list. So, assuming that `--graders studentA studentB studentC`, then you should get the list `["studentA", "studentB", "studentC"]` into the `self.graders`

[2021-05-04 14:46] dmusican commented on #790
Thanks! It's working. :)

I can put together a PR, but before I do: where do you want this code to live? In the `ext` directory with the other plugins? Or externally, like the `csvgrades` plugin? Or entirely externally, i.e. in my own repo?

[2021-05-07 10:11] slarse commented on #790
That's a good question. There are pros and cons to all approaches.

1. Merging it into RepoBee core (this repo)
    - Pros: Less maintenance effort overall, easier to access by users
    - Cons: We commit to having this in RepoBee, bloat for those that don't need it, more maintenance for me if you drop off the face of the earth :)
2. Making it an unofficial, external plugin (your own repo)
    - P

[2021-05-07 13:27] dmusican commented on #790
My guess is that official external plugin makes sense; this way there's less pressure to make it perfect, and as you say, if I get distracted with other things and someday disappear you can always just give up on it.

I haven't worked on the test suite yet; I need to do that. Should I assume the easiest place to start would be to look at the test suite for one of the other external plugins?

[2021-05-07 16:52] slarse commented on #790
Let's do that then! What would you like it to be called?

That, and the [Packaging plugins](https://docs.repobee.org/en/latest/repobee_plug/creating_plugins.html#packaging-plugins) guide in the docs. It contains instructions for how to create a standalone plugin, and generates a (very) rudimentary test suite for you.

I've created [repobee-reviewothers](https://github.com/repobee/repobee-reviewoth

[2021-05-07 16:53] slarse commented on #790
P.s. if you're not happy with the name, we can change it later, I just picket the name of your plugin file.

[2021-05-07 23:15] dmusican commented on #790
Great, I've accepted the invite -- I'll work on getting the thing tested and packaged.

[2021-05-09 09:52] #882 closed

[2021-05-09 10:02] slarse opened #905 "Implement `LocalAPI.for_organization`"
Forgot to implement the new `PlatformAPI.for_organization` method in the local API implementation (i.e. fake platform API for testing) in #904.

See #882 and #904 for details, it should be simple to implement.

`LocalAPI` is in the `repobee_testhelpers.localapi` module.

[2021-05-09 10:54] slarse opened #906 "Docs are failing to build with Sphinx 4.0.0 and Python < 3.8"
No idea what's the problem, after mergin #904 the builds just started failing with this error message:

[code]

Full traceback here: https://readthedocs.org/projects/repobee/builds/13716737/

The strange thing is that #904 built just fine on readthedocs. This is also not reproducible on my own machine.

[2021-05-09 10:59] slarse commented on #906
Okay, reproducible with python 3.6.13 on my local machine.

[2021-05-09 11:58] slarse commented on #906
Workaround: Use Sphinx 3.5.4 or Python 3.8+

[2021-05-09 12:16] slarse commented on #906
With #907 this is no longer critical, as docs are now building. We'll still want to be able to upgrade to the latest version of Sphinx at some point, so keeping this open for the time being.

[2021-05-13 10:23] #906 closed

[2021-05-17 10:52] slarse commented on #899
Sorry for the late response, this notification blew past me!

Yeah, I see that use case. Technically, that's should already be possible by doing something like this (assuming the `template_org_name` is _not_ configured but `org_name` is).

[code]

Fetching with depth 1 doesn't squash per-se as it retains the commit message, but for all intents and purposes it removes the commit message.

Of course

[2021-05-17 18:41] #897 closed

[2021-05-17 18:42] slarse commented on #623
This is such a low priority.

[2021-05-17 18:42] #623 closed

[2021-05-17 18:51] #872 closed

[2021-05-17 18:53] slarse commented on #877
@htdebeer I'm slowly getting back to work on RepoBee as my free time is clearing up. A couple of FYIs for you.

* I recently extended the `PlatformAPI` with a `for_organization` method that creates a new API instance for another organization, see #904
* The config inheritance is underway, just merged the "plumbing" (see #909), but inheritance is not yet respected by the core application. But that

[2021-05-18 09:00] davbeek commented on #899
Thanks, interesting solution with three problems:
- The commit message that the students will see makes no sense, because it refers to the last commit only.
- GitKraken does not open the cloned repo. Obviously this is a GitKraken bug, because git, Sourcetree and SmartGit all work. Still all my students use GitKraken.
- This requires some git knowledge, which is what I would like to avoid as much a

[2021-05-18 09:49] davbeek opened #912 "GUI for Repobee"
To improve the user-friendliness of Repobee for teachers without a Computer Science background, I would like to extend a subset of Repobee with a GUI: initially just for setting up and cloning student repos. After having discussed this with several others, including [Huub de Beer](https://github.com/htdebeer-tue/repobee-canvas), my ideas are as follows:

The optimal solution would be to develop an

[2021-05-18 11:10] slarse commented on #899
Yeah, not a perfect solution by any means. Didn't know it would upset the kraken, though, but I'd imagine that users of Git GUI apps aren't particularly prone to do "strange stuff".

In any case, @tohans is going to try to add a `--squash` flag to the `setup` command. Perhaps it would also be desirable to supply a commit message with that? Something like `--squash "Add project"`.

[2021-05-18 12:00] davbeek commented on #899
I can imagine an optional commit message, but I would also be fine with the default git initial commit message: "Initial commit".

[2021-05-18 18:45] slarse commented on #912
Hi @davbeek!

Supplying a GUI for RepoBee has long been something I've wanted to do, but have deemed it too much work for me to maintain on my own. I'm all for supporting such a project, though, and I have done some preliminary prototyping on this, however, and have some knowledge to share.

### What I've tried

I've explored some options, and come to the conclusion that the only feasible way to m

[2021-05-18 18:50] slarse commented on #912
I started writing that long comment, then I went for a walk and came back to it, so it may seem a little bit on the wrong side of ramblings

[2021-05-18 21:31] davbeek commented on #912
Thanks for the long and detailed comment. I really appreciate it. It is a lot to digest, but I am very happy to read that you already have quite a bit of experience in this.

[2021-05-19 05:29] Alberth289346 commented on #912
Hai,

I am somewhat involved in this as well, discussing it with @davbeek in the background.

To correct one thing, those 10 students would be learning the agile development process rather than writing software, so the amount of work that can be done there is limited. I agree there isn't much work though, perhaps a study on the GUI screen design, and then see how far it gets towards execution.

I

[2021-05-19 06:18] slarse commented on #912
Hi @Alberth289346,

Right, I suspected it was something like that.

Well, with my design you wouldn't need that. The GUI I made was just a thin wrapper around the CLI, with an embedded terminal. Having a tangible link between the GUI and CLI makes the GUI double as a training mechanism for actually using the CLI in the end.

It's suboptimal, but it has two large benefits. First, it's easy. Second,

[2021-05-19 07:09] Alberth289346 commented on #912
Thanks for the feedback, it would be simpler than I assumed, which is great.

So this means we should stick with repobee as a separate process.

While getting some groceries, I wondered about aborting an action. Obviously, currently you can just hit `CTL-C` although I am far from sure this is a good idea as it may leave a lot of repos in undefined state.

With a GUI you can't kill the process anym

[2021-05-19 07:18] htdebeer-tue commented on #912
As an aside, when I suggested the SEP project to OP, I was thinking about a project where students would develop an web-based GUI for RepoBee with extra educational features like user-name management, group management, statistics and analytics about students' projects, maybe some automated feedback, and the like, plus an LTI integration. Of course, just making a graphical shell for RepoBee is not

[2021-05-19 16:19] slarse commented on #912
@Alberth289346

_Should_ is a bit strong, perhaps, it was just my initial thought. But, even though RepoBee wasn't designed to run in a long-running process, I don't actually think there should be much trouble. There's very little mutable state in RepoBee, the entire application is mostly functions calling functions and explicitly passing state along. The only place where objects with mutable stat

[2021-05-19 17:33] htdebeer-tue commented on #912
Awesome!

By the way, this SEP project counts as the students' bachelor end-project. They operate as a team of software engineers and solve a non-trivial problem for a real client. Two project managers guide their process and a teacher supervises the project. Almost always the clients are happy with the results. The code quality varies, of course, but is satisfactory over-all. Unfortunately, quest

[2021-05-20 09:17] slarse commented on #899
Actually, that seems like a better idea to me. It's a reasonable squash message that I think very few would want to change.

[2021-05-20 11:43] slarse opened #913 "Setup Dependabot for GHA and pip"
Not sure how to get it to play nice with all of the different requirements files in `requirements`, but there's hopefully a way to make it work.

[2021-05-20 13:24] davbeek commented on #899
Yes!

[2021-05-21 17:26] slarse commented on #912
@htdebeer-tue

Right, so that differs from my experience of large 10+ student projects. When I did my "grand project" with 11 other bachelor students, we were about half-way through a bachelor program. The focus for us was also significantly more on the process than on the product. And the product was... not great (but we got an A, because the specification that the product in no way fulfilled was

[2021-05-21 22:31] davbeek commented on #912
Sounds good. I think we should go fo a win-win situation, where you and I are both happy about the result.

That also sounds promising. I think the bash script installer will not be needed anyway for the native Mac/Windows /LMS app.

I completely understand that you need good and proper support for all things related specifically to Windows.

With respect supporting to the SEP project. You would o

[2021-05-23 08:37] slarse opened #915 "Upgrade to latest version of black"
We're currently at black 19.10b0. Upgrading to the latest version (21.5b1) requires reformatting some files, and therefore requires a PR of its own.

[2021-05-26 07:23] slarse commented on #912
Agreed.

It somewhat depends. Last time I tried packaging everything into a single executable with PyInstaller, there were problems with the plugin system. It may be possible to work around these problems, but it also may not be. It could be the case that a pre-package application can only deliver what's actually packaged into it (so, the one who does the packaging must decide on plugins etc at th

[2021-06-05 17:15] #915 closed

[2021-06-06 14:50] slarse opened #920 "Allow config inheritance by path that's relative to the config file."
It makes sense that the parent path in the config file should be able to use a path that's relative to the config file. Currently that's not possible, it will be relative to the working directory, which imo is rather confusing.

@htdebeer-tue What do you think for your use case? To me it would be most intuitive if the path was relative to the file it's written in.

[2021-06-08 07:14] htdebeer-tue commented on #920
Certainly!

I do not think we can assume that the directory the config file is in always matches the working directory. When it does not, the parent path would be very confusing to reason about. Moreover, calling repobee from a different directory would no longer work as expected either.

[2021-06-10 16:29] slarse opened #921 "Upgrade MyPy and install typing stubs"
The latest version of MyPy (0.902) is causing CI to fail as it requires additional typing stubs to be installed prior to executing.

[2021-06-10 16:47] #921 closed

[2021-06-10 17:51] slarse opened #923 "Low quality demo video"
This issue contains an upload of the RepoBee demo video in low quality

https://user-images.githubusercontent.com/14223379/121573132-2d725380-ca25-11eb-8aa0-8f50ac3f28f0.mp4

[2021-06-10 17:51] #923 closed

[2021-06-10 18:28] #396 closed

[2021-06-13 12:54] #874 closed

[2021-06-13 13:28] slarse opened #925 "Encapsulate the "parent" key into a constant"
The config key for setting the parent config path is just parent, but there's no defined constant for it. It's just written out verbatim each time, which will make it hard to change. It should be placed as a constant on the `plug.Config` class.

[2021-06-13 13:37] #920 closed

[2021-06-13 13:39] slarse commented on #920
Thanks for the input!

The parent path is now either a) absolute, or b) resolved as a relative path based on the path to the config it's defined in. With that, inheritance is now implemented in RepoBee, but I will change some of the details of how it works as I'm not quite happy with the "cleanliness" of it. The implementation is slightly messy and unintuitive, and lacks any meaningful error handl

[2021-06-13 15:36] #925 closed

[2021-06-14 11:03] htdebeer-tue commented on #920
Thanks!

Once this academic year has ended, I will look into using this feature to finish my Canvas plugin.

[2021-06-14 11:06] slarse commented on #920
When does your academic year end?

I think it would be best to ensure that this functionality works well for your use case before it's released into the wild. I'm thinking that it should based on the use case scenario you provided earlier, but there's always the chance I've missed something.

[2021-06-14 11:11] htdebeer-tue commented on #920
I hope to finish the last grading for this academic year on July 7th. After that I have a week or so to work on repobee+canvas. Then I will go on vacation for a couple of weeks. Halfway August I will continue working on this again. This gives us enough time to explore your solution?

[2021-06-14 11:16] slarse commented on #920
That should be all well and good! I'll make sure it's polished and good to go by the beginning of July, and then we can try it out there. The outside surface area of the config inheritance is pretty small, so it shouldn't take much time to evaluate if it works for you.

I'll make a beta release of RepoBee 3.7 available by then so you can easily install it. I think that once we're satisfied with th

[2021-06-16 16:32] slarse commented on #881
Totally forgot about this feature, but working on it now.

I think it would be good to open this up for other directory layouts in the future. Aside from the default hierarchical layout based on student team and a flat layout, I could also imagine that it would be useful to clone in a hierarchical layout by task. I.e. something like this:

[code]

In that sense, I think the command line option sho

[2021-06-20 19:35] #913 closed

[2021-06-25 22:09] dmusican commented on #790
I may not be the fastest developer in town, but I've got the plugin packaged, with some rudimentary tests running, and pushed. Thanks for all of your help! I think we're ready to close this issue, as any further issues should presumably be recorded over at the [repobee-reviewothers](https://github.com/repobee/repobee-reviewothers) repo. Does all look good on your end?

[2021-06-26 15:18] slarse commented on #790
Hi @dmusican,

Very cool! I'm a bit busy with prepping for ITiCSE 2021 right now, but most likely I'll have time to look over the plugin sometime next week. On a quick glance, the first order of affairs is to setup some CI, which is most easily done with GitHub actions. I can put in a PR for that.

But indeed, we can close this issue now and take any further discussion over on the reviewothers iss

[2021-06-26 15:18] #790 closed

[2021-07-05 07:08] #881 closed

[2021-07-05 17:04] slarse opened #936 "LocalAPI saves/restores state to single file based on `base_url` which makes it impossible to change e.g. `org_name`"
For example, say that you first initialize the `LocalAPI` with `org_name="best-org"`, and do some action to alter the state of the platform. The state is then saved with `org_name="best-org"`. If you later initialize a new `LocalAPI` with `org_name="other-org"`, it will happily restore the state after initializing, causing `org_name` to revert to `"best-org"`.

This is obviously not great.

[2021-07-05 17:16] slarse commented on #880
@davbeek Finally coming back around to this problem :). It's not a super easy problem to solve, but it is doable.

How high of a priority is this to you, and when would you need it to be done?

[2021-07-06 14:12] davbeek commented on #880
It would be very nice to have, but I could run my course based on Repobee this year in September without it.

I would need it for my course that starts in the first week of September, so perhaps the last week of August to leave so room for testing. If it would not be ready by then, it would be useful again one year later: September 2022.

[2021-07-06 14:24] davbeek commented on #912
I am considering posting a position for a TA this week, for the most straightforward GUI version for Repobee. I hope that I can find a suitable person to do the job in a reasonable amount of time. If that works out, The SEP project might then not be needed.

My Boost project at TU/e was evaluated yesterday. They were quite positive, helpful and also very interested in Repobee.

[2021-07-06 14:31] davbeek commented on #880
If you would start this, it would be useful to keep Huub de Beer in the loop, so that he can provide the output of his [plugin for Canvas](https://github.com/htdebeer-tue/repobee-canvas) in the new format.

[2021-07-06 21:27] slarse commented on #912
That's great news! I just last week did a quick presentation of a short paper at [ITiCSE](https://iticse.acm.org/), and a GUI was one of the things that popped up during discussion, in making the initial adoption of RepoBee, and I quote, "less scary" :)

[2021-07-06 21:29] slarse commented on #880
I would like to, at the very least, have a preview version of this in RepoBee 3.7 which must be released before the next term

[2021-07-06 21:32] slarse commented on #880
BTW, "preview version" means that it needs to be enabled with a feature flag (currently works by setting an environment variable), so I'm free to make breaking changes if I feel it's necessary.

[2021-07-06 23:04] davbeek commented on #880
Sounds great, would make use of Repobee a lot more user-friendly. Looking forward to it, but if it doesn't work in time, no problem!

[2021-07-14 09:21] davbeek commented on #912
The job vacancy has been approved and is now online. It is visible for all students on the tue.jobteaser.com career center, so not for other people. It will stay online until 31-12-2021, because I have no idea what to expect in terms of number of useful candidates. Will let you know when I think I may have found a suitable candidate.

[2021-07-15 09:03] tohanss opened #938 "Add a get_data and store_data functions to the platform API"
We're looking at creating a RepoBee plugin that will require data that we probably want to store inside a repo based on some sort of key. To test a first draft of how to do this, a simple solution is to just create a get_data function, that first gets the repo if we don't have it locally, where #672 is probably helpful, and then reads a file or part of a file from it

[2021-07-15 09:04] tohanss commented on #672
@slarse This could be useful for a get_data function #938, would make that easier

[2021-07-15 10:31] slarse commented on #672
Agreed. Note that the current workaround is something like this (without error handling):

[code]

Which is, let's say, less than ideal.

[2021-07-25 19:38] algomaster99 commented on #672
In the pursuit of finding issues easier than #903 , I came here. I found that `get_repo` (API for fetching a single repository) has been defined in `APISpec` and has also been implemented in [`GitTeaAPI`](https://github.com/repobee/repobee/blob/master/src/_repobee/ext/gitea.py#L246) and [`GitHubAPI`](https://github.com/repobee/repobee/blob/master/src/_repobee/ext/defaults/github.py#L256). Or is th

[2021-07-25 20:57] algomaster99 commented on #903
I tried to approach this problem in a different way. Earlier, I was lowercasing name and URL in any function they appeared. Now, I have written a failing test case and I am thinking of ways to pass it.

**Failing test case**
[code]

Right now, it is unable to find a repository `TASK-1` so I infer that assignment names need to be lowercased. One way to do so is to explicitly invocate `lower` for al

[2021-07-26 09:45] slarse commented on #672
@algomaster99 You're right, this seems to already be a thing. It even seems to have been there since before I opened this issue. I've no memory of implementing it. Soooo... This is just a little derp from my part, it seems, we already have a `get_repo` function. We don't have a `get_team` function, though, so that could be added (see #673).

[2021-07-26 09:45] #672 closed

[2021-07-26 09:50] slarse commented on #673
I'm thinking we could probably add this as a base function for all APIs, and implement it based in `get_teams`. I.e. something like:

[code]

Of course, with some amount of error handling if a team with the given name doesn't exist. The easiest (somewhat dirty) way would probably be to add that method, with implementation, directly in the `_APISpec` class. That makes `_APISpec` impure in terms of

[2021-07-26 10:40] slarse commented on #903
You can wrap functions of a class inside the metaclass. A very crude example would be this:

[code]

And then you attach it in the metaclass:

[code]

But I think we can make this more generic. Essentially, all strings that are passed into the platform API's functions or are extracted from it _with the exception of the token_, should be lowercased.

The one downside with this approach is that it's

[2021-07-28 09:14] algomaster99 commented on #673
Do you mean adding this implementation in all the APIs which extend from `PlatformAPI`? That would be a lot of repetitive code, I think.

Should we, instead, implement the method in `PlatformAPI` so that all the APIs can extend this method as the implementation shall remain the same regardless of the platform? This would also help in throwing an exception if the team does not exist. Also, we would

[2021-08-01 11:59] davbeek commented on #880
I don't know if this would simplify your work, but it would already be a big help if I could specify for each repo a groupID for the repo name, so that each student repo could get a groupID as name, instead of the concatenation of the student IDs.

[2021-08-01 15:22] slarse commented on #880
Hi @davbeek,

You could technically do this with a plugin, as the name of student repos can be overridden by implementing the [`generate_repo_name` hook function](https://docs.repobee.org/en/stable/repobee_plug/code.html#repobee_plug._corehooks.generate_repo_name).

But I'll take it into consideration when tinkering with the extended syntax, I hope to get it done this month (August) :)

[2021-08-01 20:17] davbeek commented on #880
Good to know. I might ask JingJing to do this, in case you work on the extended syntax takes longer than expected.

[2021-08-09 12:55] slarse commented on #880
I'm looking at it this week. I have a few different ideas. I'll let you know what I come up with by the weekend.

[2021-08-10 11:49] slarse commented on #673
No, I meant for them to inherit it somehow. But I'm not a huge fan of inheritance in that fashion, rather prefer explicit mixin classes.

We could, but I like how `PlatformAPI` doesn't carry any real behavior at the moment. It just wraps the metaclass. But perhaps this is the most pragmatic approach.

[2021-08-11 13:48] #899 closed

[2021-08-13 07:13] #936 closed

[2021-08-29 18:08] slarse commented on #880
Hi @davbeek,

I decided to include this functionality directly into RepoBee, and to that end created a parser for a tiny subset of YAML (see [YAMLiny](https://github.com/slarse/YAMLiny)). It took a tad bit longer than I expected (as with all things), so I'll delay the release of RepoBee 3.7 untill (hopefully) tomorrow, then including this extended syntax as a built-in plugin.

Eventually, this wil

[2021-08-31 15:07] Rickard-Martensson opened #957 "Error when cloning student repos"
Trying to clone a certain task from all the students, recieved the following error:

[code]

The number of "finished" progress-bars seems to vary.
The system is running windows 11, but that _probably_ shouldn't affect wsl.

[2021-08-31 15:20] slarse commented on #957
This is very likely OS-related. This error appears to be related to running many concurrent subprocesses, which RepoBee does when cloning student repositories. It's however limited to 20 at the moment: https://github.com/repobee/repobee/blob/b8bf745c5613bde7702c483239b4f9d4599b9d13/src/_repobee/git.py#L35

That's... not a lot. Could you try just changing `CONCURENT_TASKS` to `1` and see if the err

[2021-08-31 18:43] #880 closed

[2021-09-01 13:45] davbeek commented on #880
Thanks @slarse, this comes perfectly in time for the start of my course next week!

[2021-09-01 17:35] slarse commented on #880
@davbeek You're welcome!

Note also that RepoBee 3.7.0 is out, which includes the `studentsyml` plugin. So you need to upgrade to the latest version (`repobee manage upgrade`) and activate the plugin (`repobee plugin activate --plugin-name studentsyml`) to activate the extended syntax for the students file :)

[2021-09-01 18:03] davbeek commented on #880
Thanks for the tip and instructions :-)

[2021-09-05 19:53] rjglasse opened #960 "Upgrade to v3.7.0 not happy with existing plugins"
To upgrade from v3.5.0 I re-ran the installer script for Zsh from the homepage (https://repobee.org/). Install script seems to run fine. I get this feedback for a version request:

[code]

Running `verify-settings` did not work either (same feedback as above).

Removing the all plugins from block from `~/.repobee/installed_plugins.json` resolved the issue for me:

[code]

Is it best to nuke the .r

[2021-09-05 19:57] rjglasse commented on #960
Note, I probably should have tried `repobee manage upgrade` first, but I guess others might make this blunder :-)

[2021-09-06 15:46] slarse commented on #960
While you're not supposed to use the install script to upgrade, it's intended to be a last resort to fix a failing installation. So, it should nuke all preexisting state in the install directory, so there might be a bug there.

Of course `repobee manage upgrade` is the intended way to upgrade, but perhaps that should be more front-and-center on the website and the user guide (in fact, I think it i

[2021-09-06 15:50] slarse commented on #960
On a side note, the [FAQ](https://docs.repobee.org/en/stable/faq.html#repobee-crashes) has a bunch of tips for how to fix a broken install.

[2021-09-10 16:51] #960 closed

[2021-09-26 11:30] #768 closed

[2021-09-26 12:24] #894 closed

[2021-09-27 20:02] #460 closed

[2021-09-27 20:55] #905 closed

[2021-09-27 21:09] #771 closed

[2021-10-02 09:11] slarse opened #969 "`config wizard` doesn't show currently configured values anymore"
Title says it all.

[2021-10-02 09:15] slarse opened #970 "Allow `config wizard` to remove configured options"
It's currently not possible to remove a configured option with the config wizard.

[2021-10-09 16:33] #969 closed

[2021-10-10 08:53] slarse commented on #877
I'm going to close this issue as I'm pretty sure that it's been addressed by the addition of `PlatformAPI.for_organization`. I.e. given a PlatformAPI, you can do something like so:

[code]

Feel free to reopen if there's still some obstacle.

[2021-10-10 08:53] #877 closed

[2021-12-04 22:37] slarse commented on #912
Hi @davbeek,

I've been giving the whole GUI thing some more thought lately, and it does seem like the next logical step in making RepoBee easier to adopt. Really, I think it _must_ happen for RepoBee to get adopted by any but the most adventurous teachers. And in that, I think the end goal should be a GUI that to a great extent has feature parity with the CLI.

Now, a first stab at this of course

[2021-12-09 09:24] davbeek commented on #912
I am late for a grading deadline for my bachelor students, so will come back to you on this later!

[2021-12-12 15:27] slarse commented on #912
No worries, I probably won't get around to this until the Christmas holidays. And it was mostly meant as an FYI for what my thoughts are on the whole GUI thing: I think it should be the focus for future efforts. If my entire next year of working on RepoBee is spent only on facilitating and/or helping out creating a usable and _maintainable_ (that's key) GUI, then that'll be time well spent.

[2021-12-15 18:11] slarse opened #979 "Remove the `util` module"
Having a module named `util` is a bad smell, it just screams "I couldn't be bothered to think".

The [`util` module](https://github.com/repobee/repobee/blob/master/src/_repobee/util.py) should be removed. Any unused functions should be removed, and any used functions should be moved to more appropriate modules.

Most functions should probably move to the [`fileutil` module](https://github.com/repo

[2021-12-15 18:16] slarse commented on #979
@algomaster99 This is a good first issue for you!

[2021-12-15 21:31] algomaster99 commented on #979
@slarse I will be on it as soon as possible :)

[2021-12-16 00:35] marceloFA commented on #938
Can I work on this?

[2021-12-16 23:00] slarse commented on #938
Hi @marceloFA,

You're very welcome to come up with a draft, but this issue is not well defined, and the scraper that's suggested to use the functionality isn't something that's being worked on afaik. If we were to actually add this to RepoBee, we'd first need to come up with at least one driving use case!

Was there something about this issue in particular that intrigued you? Otherwise, there are

[2021-12-16 23:04] marceloFA commented on #938
@slarse, sure, no problem. So then, could you point me to an issue I can start working on to contribute to your project, please?

[2021-12-16 23:12] marceloFA commented on #938
Thanks! I'll start with one of the low hanging fruits or one of the upcoming issues then :)

[2021-12-23 12:20] #979 closed

[2021-12-24 08:56] davbeek commented on #912
@slarse  I have sent you an elaborate email explaining the current state of the repobee gui developments. Hope you have properly received it.

[2021-12-29 12:16] marceloFA commented on #938
Please let me know when those new issues come up 😄

[2021-12-30 14:07] slarse commented on #938
Hi @marceloFA,

I'm currently a bit preoccupied with a major rewrite of the CLI to accommodate an auto-generated GUI (see #912). This is something I don't think you can help with as the code for the current CLI is rather convoluted and hard to understand. So easy-to-tackle issues will take another week or two to appear.

In the mean time, there are a bunch of relatively standalone issues in [repob

[2021-12-30 14:11] marceloFA commented on #938
Oh thanks! Have a good work with the CLI and also happy new year!

[2021-12-30 14:17] slarse commented on #938
Happy new year to you as well!

[2021-12-30 19:48] algomaster99 opened #982 "Convert `git` module into a package"
Reference: https://github.com/repobee/repobee/pull/980#issuecomment-1003048992

`git` module contains wrappers around some of the git commands. It would be nice if we can split all methods into separate modules. There are also some methods common for these wrappers. We can put them in a separate `git.util.py` module.

[2022-01-16 11:30] #982 closed

[2022-01-16 15:44] slarse opened #986 "Drop Python 3.6 support"
Python 3.6 has reached EOL, so we're dropping it across the entire RepoBee ecosystem.

[2022-01-16 15:53] slarse opened #987 "Add support for Python 3.10"
The following needs to be done:

* Add 3.10 to the test matrix in `.github/workflows/tests.yml`
* Update the supported versions badge in the README
* Add 3.10 to the versions of Python the `scripts/install.sh` script tries to lookup
* Add 3.10 (and any preceding versions that have been missed) to the [trove classifiers](https://pypi.org/classifiers/) in `setup.py`

[2022-01-16 15:53] slarse commented on #987
@algomaster99 Could you take this one?

[2022-01-16 19:10] #986 closed

[2022-01-18 21:37] #987 closed

[2022-02-03 21:35] slarse opened #991 "Using tamanager plugin causes `repos setup` to hit secondary rate limit in GitHub API"
There are probably too many create requests (POST and PUT) within too short a period of time. It looks something like this:

[code]

GitHub actually recommends waiting a whole second in between each modifying request: https://docs.github.com/en/rest/guides/best-practices-for-integrators#dealing-with-secondary-rate-limits

Obviously, RepoBee needs to be tempered a bit in how hard it hits the API, r

[2022-02-04 12:14] slarse commented on #957
Closing due to inactivity, feel free to reopen if you have more to add.

[2022-02-04 12:14] #957 closed

[2022-02-04 12:15] slarse commented on #329
Closing this for now. If there is interest in getting more data on issues someone can reopen.

[2022-02-04 12:15] #329 closed

[2022-02-04 12:18] slarse commented on #391
Closing as there is no driving force for this feature.

[2022-02-04 12:18] #391 closed

[2022-02-04 12:19] slarse commented on #390
Closing for now as there is no driving force for this feature, specifying teams works well enough.

[2022-02-04 12:19] #390 closed

[2022-02-04 12:21] slarse commented on #696
This problem isn't solved yet, but #789 outlines the solution, so I'm closing this issue as it's not actionable outside of #789.

[2022-02-04 12:21] #696 closed

[2022-02-04 12:22] slarse commented on #532
#789 outlines the solution to this issue, so closing as this issues is itself not actionable.

[2022-02-04 12:22] #532 closed

[2022-02-04 19:14] slarse commented on #537
This hasn't come up even once in the past year and a half, so it doesn't seem worth doing.

[2022-02-04 19:14] #537 closed

[2022-02-05 08:44] #772 closed

[2022-02-05 12:40] slarse commented on #991
For now just gonna go with hitting the API less aggresively, and implement exponential backoff if problems persist.

[2022-02-06 09:01] #991 closed

[2022-02-07 18:46] #417 closed

[2022-02-12 10:17] slarse opened #998 "Rewrite core commands using the plugin architecture"
In order to generate both a CLI and a GUI from the same specification, the whole core CLI needs to be rewritten using the plugin architecture.

[2022-02-23 20:55] slarse opened #1003 "Enable more pylint rules to improve code style consistency"
Currently, pylint is only looking for errors. It'd be nice to start respecting more of pylint's rules. This'll be an iterative process of enabling a handful of rules, then refactoring, and so on.

[2022-03-06 19:13] Adamih commented on #789
We are working on this issue.

[2022-03-06 20:10] Adamih opened #1010 "System test `test_end_all_reviews` failing"
Output:

[code]

[2022-03-06 20:52] slarse commented on #1010
Thanks for reporting, this is reproducible on my local build as well. I don't think this is a bug in RepoBee because it's also happening on versions that previously passed. I'm guessing that it's a race condition between the removal of the groups and the assertion that they're gone.

This also highlights that I should include the GitLab system tests in the weekly test run. I thought they were but

[2022-03-06 21:02] slarse commented on #789
Cool, assigning you to it!

How far have you progressed? I'm currently refactoring the `peer.assign_peer_reviews` function as it's an absolute monster and the new pylint rules I'm introducing (see #1003) lit up like a Christmas tree on it. It will probably conflict with any code you've written.

[2022-03-06 21:07] ZinoKader commented on #789
Me and Adam are in a project group for a course in KTH (fellow alum!), so we are both working on it. We have just started out laying out the requirements, but have not written any code yet. Do you have an estimate for when you will be done rewriting it? We might just continue on the current version of the function and resolve the conflicts afterwards if the refactoring won't be ready for some time

[2022-03-06 21:09] slarse commented on #1010
Indeed, this is a race condition in the test between deleting the groups and asserting they are gone.

[2022-03-06 21:35] slarse commented on #1010
Fix on the way.

[2022-03-06 21:53] slarse commented on #789
Ah, I see, DD2480?

Probably tomorrow, I started picking it apart today but got a bit sidetracked about halfway through.

[2022-03-06 22:19] Adamih commented on #789
@slarse Great! Please assign @ZinoKader as well. Looking forward to seeing your changes.

[2022-03-06 22:21] #1010 closed

[2022-03-06 22:22] slarse commented on #1010
@Adamih Should be all good now, let me know if my fix didn't solve the problem for you.

[2022-03-07 01:17] Adamih commented on #789
Our initial solution involves simply creating multiple issues tagging each member of the reviewing team. Very easy fix.

[code]

[2022-03-07 01:36] Adamih opened #1013 "`issues list` throws Error when issue body is empty"
The command throws when there is an issue with only a title.

Console log:

[code]

[2022-03-07 02:15] ZinoKader opened #1014 "`reviews check` fails to map lowercase usernames"
(Might be related to #900)

While working on #789 we noticed that our review issues would not be marked as done as our GitHub usernames contain capital letters (ZinoKader and Adamih), respectively.

All of the platforms currently supported (github.com, gitlab and gitea) seem to be case-insensitive when it comes to usernames. Therefore, an easy solution could be to lowercase all usernames from the

[2022-03-07 17:50] slarse commented on #1013
So I'm guessing PyGitHub returns `None` for the body of an issue with an empty body. The fix would be rather straightforward here:

https://github.com/repobee/repobee/blob/2c9b5a8dac3c228e8722ed9111e9064914d4c3fc/src/_repobee/ext/defaults/github.py#L334-L344

I'm thinking this should work:

[code]

Could you try that and see if it works for you?

[2022-03-07 20:35] Adamih commented on #789
We will try double blind and create some rudimentary unit tests. Thanks for the input.

[2022-03-07 21:19] slarse commented on #789
@Adamih Actually, now I'm just confusing myself. This works transparently for double-blind review as the "owner" of the reviewed repo doesn't actually have access to the repo copy (it would of course not be double-blind otherwise). So there's no need for any special considerations for double-blind review, your implementation looks reasonable.

The only real effort will be to test the new functiona

[2022-03-07 22:11] slarse commented on #789
There's now a PR with a moderately successful refactor of the `assign_peer_reviews` function. It's still a bit of a mess, but the part that's relevant to this issue should now be contained in the `_assign_review` function.

Will have to merge, it took me a wee bit too many hours to figure out a halfway decent split of the functionality. That module was very much written with the mindset of "this i

[2022-03-08 12:16] Adamih commented on #789
I'm very much under the controversial opinion that long functions are totally ok, so it doesn't affect me that much. I will check out your PR though and whip up a test or two.

[2022-03-08 17:52] ZinoKader commented on #1014
Absolutely, thanks for the pointers.

[2022-03-08 23:44] Adamih commented on #1013
Fix works fantastically, will submit PR.

[2022-03-08 23:48] ZinoKader commented on #1013
Seemed to only happen with the `--show-body` flag, which I guess is why it slipped through the cracks.

[2022-03-11 17:54] #1014 closed

[2022-03-11 23:26] slarse opened #1020 "Refactor the GitLab system tests"
Currently, the GitLab system tests have two big warts.

1. All of the tests exist in a single test module, which is quite large.
2. For some reason, I decided that putting most asserts into a module separate from the tests.

To address 1), the single module can be split according to the command categories  (`repos`, `issues`, etc).

To address 2), the assertions can be brought back into the module

[2022-04-04 15:39] slarse commented on #756
Closing this as I can't see anything actionable, feel free to reopen if you disagree :)

[2022-04-04 15:39] #756 closed

[2022-04-07 12:21] dbosk opened #1026 "Create organization"
It would be nice if RepoBee also could set up the organization with suitable settings (if any needed). One thing less to do in the GUI :-)

[2022-04-08 17:30] slarse commented on #1026
At some point, many years ago, I'm fairly certain there was a good reason for not doing that. But I don't remember what that reason was, and much may have changed since.

The one thing off the top of my head that was an inconvenience was that organizations on GitHub required a paid plan for private repositories, but that isn't the case anymore. There's still pricing for having "collaborators" on r

[2022-04-08 18:32] dbosk commented on #1026
Sounds reasonable. I was thinking about creating the organisation for a course in autumn and realized I don't know what settings I must adjust (on gits-15, for now).Maybe it's documented somewhere, that would be helpful, but then it felt like something that should be possible to automate. If it can be automated, it should be automated --- manual labour is for computers 😉Sent from a low-usability d

[2022-04-08 19:56] slarse commented on #1026
There are really two parts to it, the general platform quirks that are documented here: https://docs.repobee.org/en/stable/fundamentals.html#usage-with-different-platforms-github-github-enterprise-and-gitlab

And the instructions for creating an organization on GitHub that are documented here: https://docs.repobee.org/en/stable/getting_started.html#create-an-organization

[2022-04-10 19:39] dbosk opened #1027 "Systematic way to update Docker Hub"
Not sure how you do releases, but I noticed that the [images on Docker Hub](https://hub.docker.com/r/repobee/repobee/tags) are a bit out of sync with the actual releases.

I have no idea what would fit RepoBee releasing (I noticed you're an inspiration to all with release documentation). I usually make a release using [`gh`](https://cli.github.com) in a script and then I simultaneously build and p

[2022-04-10 19:40] dbosk commented on #1026
Thanks for the pointers to the documentation!

[2022-04-10 19:42] dbosk commented on #1026
Seems like there is not much setup that must be done, just that members privileges option.

[2022-04-10 20:14] slarse commented on #1027
Ohhh, that's probably because the free tier of Docker Hub stopped providing automatic repository scanning a while back. I got an email about it and then promptly forgot about it :)

RepoBee is deployed from GitHub Actions when a GitHub release is created ([see deploy.yaml](https://github.com/repobee/repobee/blob/master/.github/workflows/deploy.yml), I'll just have to add in deploying to Docker Hub

[2022-04-10 20:35] dbosk commented on #1027
That's cool, I should definitely look into deploying with GitHub actions and play around with it!

[2022-04-11 20:14] slarse commented on #1027
As it turned out, the Docker image wouldn't even build anymore as I'd neglected it for so long. Oopsie.

I've manually backfilled the missing releases and will now turn to automatic deployments. There's a GitHub action from Docker that should do the trick (https://github.com/docker/build-push-action).

[2022-04-11 21:05] #1027 closed

[2022-04-11 21:20] slarse commented on #1027
@dbosk Figured out a deploy workflow for updating latest on each push to master and then (hopefully) releasing a stable release on each GitHub release. The former definitely works now, the latter... Well, we'll see when I make the next release :)

[2022-04-13 22:17] #1013 closed

[2022-04-14 16:21] slarse opened #1035 "Add support for configurable arguments in mutex groups"
A required option that is also configurable becomes non-required if there is a configured value. The same should apply to mutually exclusive groups that have configurable values.

To simplify the semantics, a mutex group should be allowed to have at most one configurable value.

[2022-04-14 19:06] slarse commented on #1035
I realize now that mutex groups don't currently support configurable arguments at all, so this is a completely new feature.

[2022-04-14 21:43] #1035 closed

[2022-04-14 22:12] slarse opened #1038 "Deprecate the `--students-file` option and let `--students` suppleant it"
There is a complex relationship between the `--students` and the `--students-file` option.

1. _One_ is required
2. They are mutually exclusive (as CLI options)
3. `--students-file` is configurable while `--students` is not.
4. If `--students-file` is configured, then
    - Neither is a required option anymore
    - Supplying `--students` on the command line overrides `--students-file`

Implementa

[2022-04-14 22:17] slarse opened #1039 "Make it possible to deprecate options"
It must be possible to deprecate options with a deprecation message.

[2022-04-15 21:50] slarse commented on #1038
After actually implementing this and playing around with it for a while, I've come to the conclusion that a single option that can accept two completely different kinds of input can be very confusing to use. While the relationship between `--students` and `--students-file` is complex, at least the usage of each in isolation is clear.

[2022-04-15 21:52] slarse opened #1042 "Plugin core commands allow both `--students` and `--students-file` options to be specified"
They can use the new conditionally required mutex group feature to fix it.

[2022-04-15 21:52] #1038 closed

[2022-04-16 07:07] #1042 closed

[2022-08-29 14:04] dbosk opened #1065 "Handle GitHub rate limiting"
I usually hit [GitHub's secondary rate limit](https://docs.github.com/en/rest/guides/best-practices-for-integrators#dealing-with-secondary-rate-limits).

1. This is not handled well by `repobee`, seems like it's changed into a 404, or am I missing anything:
[code]

2. According to the documentation on [GitHub's secondary rate limit](https://docs.github.com/en/rest/guides/best-practices-for-integra

[2022-08-30 20:50] slarse commented on #1065
This was brought up last year in #991 (when the secondary rate limit was very newly introduced). I tried a simple approach with just respecting the default 1 second rate limit of modify requests (see #996).

That 404 is coming from the underlying GitHub API library, it's logged before the 403. The thing that follows "Critical exception" is what caused RepoBee to exit. The chain of events looks a l

[2022-08-31 17:32] slarse commented on #1065
Actually, after having slept on it, I can probably handle this on the HTTP layer in just about as shifty a way as I did with the 1-second limit for modify requests.

[2022-08-31 18:50] dbosk commented on #1065
Sleep gives you the best of ideas, don't you think? 🤣On 31 Aug 2022 19:32, Simon Larsén ***@***.***> wrote:
Actually, after having slept on it, I can probably handle this on the HTTP layer in just about as shifty a way as I did with the 1-second limit for modify requests.

[2022-08-31 21:02] dbosk commented on #1065
Do you think that there is a possibility that GitHub rate limiting can cause some students' repos to be empty, that rate limiting kicked in after one API call but before another? (I have found that some students' repos are empty, although they're created with the same repobee command as all the others. Not sure what has gone wrong.)

[2022-08-31 21:05] slarse commented on #1065
I don't really know what effect the rate limiting would have. The repos aren't populated through the API, rather that happens just using Git. While that might also potentially be rate limited, it would take some other form.

I've a potential fix for the API rate limiting in #1067. It's failing CI due to some outdated pylint rules acting up, but I don't have time to fix that right now. But you coul

[2022-08-31 21:24] slarse commented on #1065
Giant face palm, I see now that I actually never made a release containing the initial rate limit fix. So I'll get this further rate limit fix merged ASAP and then I'll make a release tomorrow.

[2022-08-31 21:25] slarse commented on #1065
Probably, just by using the latest version of master you shouldn't run into the secondary rate limit to begin with. RepoBee will be a lot more gentle on the modify requests.

[2022-08-31 22:03] #1065 closed

[2022-08-31 22:05] slarse commented on #1065
@dbosk Patched and deployed to dockerhub. Try the latest version and see if it works for you.

[2022-09-01 06:24] slarse commented on #1065
Aaand of course, after implementing it myself from scratch, I realize that urllib [supports Retry-After headers](https://urllib3.readthedocs.io/en/latest/reference/urllib3.util.html#urllib3.util.Retry). :man_facepalming:

I'll incorporate that when I have some time left over, but in the meantime I think my hacked up solution should do the trick.

[2022-09-02 10:12] slarse opened #1069 "Replace home-built Retry-After code with urllib3's builtin support"
As noted in #1065, urllib3 supports `Retry-After` using the `Retry` class. The [responses README](https://github.com/getsentry/responses#validate-retry-mechanism) has an example for how to integrate that with requests. It attaches to a session object, so it will probably still require some monkeypatching to actually interpose it between PyGithub and the web.

[2022-09-02 10:12] slarse commented on #1065
@dbosk As soon as you confirm that the latest version of RepoBee solves your problem, I'll make a release of it :)

[2022-09-05 16:49] dbosk commented on #1065
Will do! I'll have to try to force that situation since the load has evened out. But I guess I can always run repobee a few times in parallel 😁

[2022-09-11 01:41] connorferster opened #1073 "False negatives: repobee reviews check"
Hi there!

 I have just started using Repobee in my class and I think it is a _life-saver_. Thank you for making it and maintaining it!

I did a test-run with my TA where we created an assignment, assigned a review between the two of us (requiring one review), and we each performed a review. We both created "review issues" with the proper issue title (the default, "Peer review"). When I ran the `r

[2022-09-11 21:38] slarse commented on #1073
Hi @connorferster,

Thanks for the kind words!

So, I can't really say off the top of my head what is the matter. Let's try to get to the bottom of it, I have a few questions.

1. Which VCS platform are you on (GitHub, GitLab, Gitea)?
2. Can you provde the exact commands that you ran (with options, of course excluding anything sensitive)?
3. When RepoBee assigns reviewers, it creates review teams

[2022-09-11 21:41] slarse commented on #1073
Oh, and just to be clear, the reason I recommend trying out the preview commands is that even if they also have some problem, they're a whole lot easier to debug as the review allocations are in a JSON file.

[2022-09-12 05:06] connorferster commented on #1073
@slarse

Lol, I can relate! :)))

Quick answers:
1. GitHub
2.
[code]
3. Yes, I can confirm that. We were the only two students in the `test_students.txt` file.

The JSON approach makes a lot of sense. I did the same thing when I created an adhoc review system that ran out of submissions of assignments to my email inbox. Submissions were auto-filed by Outlook into a sub-folder, running the script w

[2022-09-12 06:05] connorferster opened #1074 "Question: Is there any way to check which student repositories have commits?"
Is there a way of checking if a student has done some work on a given assignment? Kind of like `check` for the reviews but instead of checking for the existence of issues, a way for checking if the student has done any work on the assignment.

[2022-09-12 07:20] rjglasse commented on #1074
Hi Connor,

Not at present with the default commands.

However, Repobee was designed with a plugin architecture that allows you to extend it to fit your context. Here's the documentation: https://docs.repobee.org/en/stable/repobee_plug/index.html#repobee-plug - it has some nice examples to help you get started.

I guess you want to have a plugin that uses a `post-clone hook` to check if the _lates

[2022-09-12 08:09] rjglasse commented on #1074
Alright, this is my first actual attempt at a plugin (started.py), but I like the use case so win-win for me. Here's something that works, but probably needs some improvement:

[code]

And the trace would look like this for a known non participating student, and silent if student has started:

[code]

Probably smart to export to file, JSON or CSV if you have a lot of students :-)

[2022-09-12 10:12] slarse commented on #1073
@connorferster Regarding your answers, everything looks in order ... Can't really say based on that what might be wrong.

Yes, it's been in preview for quite a while, hehe. If you want to ensure that you have the latest version, run `repobee manage upgrade`, but the preview commands were released in August 2021 so if you installed at any point after that you'll have them.

It depends on your envio

[2022-09-12 10:18] slarse commented on #1074
This is indeed a very good use case for a plugin, thanks @rjglasse for providing a prototype!

Nope, RepoBee doesn't deal with commits at present. However, [GitPython](https://github.com/gitpython-developers/GitPython) provides a pretty nice Python interface to Git, I'd probably use that for better ergonomics. I think I use it somewhere in RepoBee but I forget where at the moment, but a plugin is

[2022-09-14 04:41] connorferster commented on #1073
Thanks very much, @slarse!

I will set the environment variable on the next assignment and see how it goes.

[2022-09-14 04:44] connorferster commented on #1074
Holy smokes, @rjglasse! I really appreciate that. It saves me a good couple of hours of faffing around trying to figure out where to start.

[2022-09-14 15:58] slarse commented on #1073
Cool! I'll be very interesting in hearing how it goes.

[2022-09-20 15:12] #1073 closed

[2022-09-20 15:21] connorferster opened #1076 "Reviews: Timeouts during review assignments not able to "resume from previous""
Hi @slarse,

I tried using the REPOBEE_4 features for the review and ran into a problem with GitHub where I am getting timeout errors and now "You have exceeded a secondary rate limit and have been temporarily blocked from content creation..." errors.

Unfortunately, it seems that the .json assignments file that is created gets recreated from scratch every time which means I now have a bunch of st

[2022-09-20 15:41] connorferster commented on #1076
Okay, was able to get the assignments removed (`end` command works with all assigned repos; excellent!) but I am unable to create assignments because I keep getting this secondary rate limit exceeded. I cannot assign repos because of it. :(

[2022-09-20 16:12] slarse commented on #1076
Hi @connorferster,

What version of RepoBee are you running? Version 3.8.0 has patches for the secondary rate limit that _should_ solve the problem. If you are running 3.8.0 and are still running into the rate limit, please let me know and I'll try to investigate.

[2022-09-20 16:28] slarse commented on #1076
The rate limiting thing is fairly new, and there have been a number of unexpected problems with it lately. It's hard for me to test it directly as I've no "large class of students" to experiment with on github.com.

I'd very much appreciate if you could feedback on whether the rate limit mitigation works, because this has been reported twice (#1065 , #991), but I've not received any confirmation y

[2022-09-21 01:31] connorferster commented on #1076
Thanks @slarse,

It turns out that I had `3.7.1` installed. I just updated to `3.8.0` and am trying to create my reviews allocations again and I hit the error again. Now, just prior to upgrading, I tried to run it with `3.7.1` thinking that "it has been 9 hours since I list ran it - probably ok" but I got booted again. So I waited about 10-15 minutes before running again and I am still getting boo

[2022-09-21 01:32] connorferster commented on #1076
That sounds completely reasonable to me!

[2022-09-21 06:35] slarse commented on #1076
Did you hit the error right away, or did it start running OK and then you hit the limit? If it's the former your credentials might still have a "temporary ban" on them. If it's the latter, then RepoBee is still too aggressive. I'm to the best of my knowledge following all of the best practices that GitHub outlines here: https://docs.github.com/en/rest/guides/best-practices-for-integrators#dealing-

[2022-09-21 11:27] Karlkorv opened #1077 "Critical error running juni4 hooks"
When running `repobee repos clone` with the `junit` and `javac` hooks I get the following error:

[code]

The hooks run regardless and seem to be working correctly despite the error. This is my repobee-config:
[code]

[2022-09-21 12:29] connorferster commented on #1076
Hi @slarse,

It would run about 20 students and then hit the limit.

Something "similar" (in quotes because no actual error pops up) when I run the "end" command. It will run for most of the students (say, 40) and then stop with no message. I would run the "end" command again and it would do maybe 20 more students. I would run it again to get the rest of the students. And then I would run it one l

[2022-09-21 15:00] slarse commented on #1076
I'm sorry you had to cancel the peer review, this secondary rate limit thing is really a nasty business to deal with. I realize now that there's one thing I haven't accounted for:

Which is just... Well I don't even know how to act upon that, what is _reasonable_? I'd wager that's the problem here (because the peer review commands indeed open issues).

I will run some experiments of my own and get

[2022-09-23 15:23] slarse commented on #1077
Hi @Karlkorv,

At a glance, it looks like a student has a _directory_ called Indamon.java in their repository. It appears as if the JUnit4 plugin just assumes that any path with a `.java` suffix is a normal file, which doesn't hold in this situation (https://github.com/repobee/repobee-junit4/blob/e80a720f6830f7a0038959526d548648b932f3d6/repobee_junit4/_java.py#L84-L86).
I'll get around to patching

[2022-09-25 16:12] slarse commented on #1076
So, I ran a little experiment with 2 students over 30 assignments (meaning a total of 60 review issues). Didn't encounter any rate limiting problems, and the actual API request load should be very similar there as if you had e.g. 60 students on 1 assignment.

@connorferster When you run these commands, does it feel like they run fast? It should take around 1 to 2 seconds to assign each review, if

[2022-10-14 02:36] lmove opened #1085 "Can't find student repositories when updating"
Hi all!
Hope you can help us with the following issue.

## Current Setting
We have an organization on the university GitLab instance with:
- Students groups, each with two projects (assignments)
- Two assignment templates at the root of the organization

The two projects that we created for each student group, were created with repobee.

## Goal
I made some modifications to one of the assignment p

[2022-10-14 11:21] slarse commented on #1085
Hi @lmove,

I can't reproduce this problem, so I'll need some more info. I've opened a PR that enables some more verbose logging, could you try running with that version of RepoBee and tell me what the output looks like? See #1087. If you're not sure how to go about installing RepoBee from source, here's an example:

[code]

What output does that provide?

Yes, that should be the case.

Yes, RepoB

[2022-10-17 17:41] lmove commented on #1085
Dear @slarse, we are running the course right now and we temporarily solve the issue with some bash scripts. I will come back to you in about one week when the students are done with the assignment, and we can experiment a little bit more with the repos!

[2022-11-26 09:13] slarse opened #1098 "Drop support for Python 3.7"
Python 3.7 reaches EOL at [2022-06-23](https://www.python.org/downloads/), which is pretty soon. Libraries are already dropping support for it, so in order to keep RepoBee up-to-date I need to drop support for Python 3.7 across the board.

[2022-11-27 17:20] slarse commented on #1098
Fixed in #1099

[2022-11-27 17:21] slarse commented on #1098
Actually it wasn't, to be fixed in #1100

[2022-11-29 19:15] #1098 closed